<template>
  <div>
    <vue-headful title="Horrorrr!!! | Error" />
    <h1>Tas perdio, Esta ruta no existe.</h1>
  </div>
</template>

<script>
export default {
  name: "Error",
};
</script>

<style scoped></style>
