<template>
  <div class="home">
    <vue-headful title="Riky Morty | Home" />
    <charactercard :characters="characters" />
    <h1>Proyecto Rykymorty</h1>
    <button @click="sweetalertOn">
      esto es un botón
    </button>
  </div>
</template>

<script>
import api from "@/api/api.js";
import charactercard from "@/components/CharacterCard.vue";
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import Swal from "sweetalert2";

export default {
  name: "Home",
  components: {
    HelloWorld,
    charactercard,
  },
  data() {
    return {
      characters: [],
    };
  },
  methods: {
    sweetalertOn() {
      Swal.fire({
        title: "Titulo",
        text: "Do you want to continue",
        icon: "error",
        confirmButtonText: "Cool",
      });
    },
  },
  beforeCreate() {
    console.log("Before Create");
  },
  created() {
    console.log("created");
    api
      .getAllCharacters()
      .then((response) => (this.characters = response.data.results));
  },

  beforeMount() {
    console.log("Before Mount");
  },
  mounted() {
    console.log("Mounted");
  },
};
</script>
