<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name: 'Home'}">_Home_</router-link>|
      <router-link :to="{name: 'About'}">_About_</router-link>|
      <router-link :to="{name: 'TopArtist'}">_TopArtist_</router-link>|
      <router-link :to="{name : 'TopTrack'}">_TopTracks_</router-link>|
    </div>
    <router-view />
    <topfooter />
  </div>
</template>


<script>
import topfooter from "@/components/TopFooter.vue";

export default {
  name: "App",
  components: {
    topfooter,
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

#app {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: wheat;
}

#nav {
  background-color: black;
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: aquamarine;
}

#nav a.router-link-exact-active {
  color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  font-weight: bold;
  max-width: 100rem;
}

.image {
  border-radius: 50px;
}
.button {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
  color: aquamarine;
  font-size: 1.75rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 25px;
}

.buttonSweet {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  background-color: aquamarine;
  border-radius: 25px;
  color: black;
  font-size: 2rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

h1 {
  background-color: black;
  color: aquamarine;
  font-size: 4rem;
  padding: 2rem;
}

h2 {
  padding: 0.5rem;
  margin-top: 0.1rem;
}

ul {
  background-color: black;
  color: whitesmoke;
  list-style: none;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

li {
  padding: 1rem;
  background: rgb(248, 19, 3);
  border-radius: 100px;
  text-align: center;
}
</style>
