<template>
  <div class="about">
    <h1>Sobre mí.</h1>
    <p>
      Soy Técnico Especialita en Electrónica Industrial, he trabajado durante
      los últimos años como Técnico de redes de telecomunicaciones en el SERGAS
      y Técnico de Microinformática en proyectos de la XUNTA. Hace unas semanas
      termine el BoopCamp de Hack a Boss Fullstack JavaScript.
    </p>
    <h1>SOBRE EL PROYECTO</h1>
    <p>
      Este proyecto ha sido desarrollado con las herramientas que se listan a
      continuación.
    </p>
    <ul>
      <li>Base de datos MySQL</li>
      <li>Para el desarrollo del BackEnd:</li>
      <li>Node.js</li>
      <li>Express</li>
      <li>JavaScript</li>
      <li>Para desarrollar el FrontEnd:</li>
      <li>Axios</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Vue</li>
    </ul>
    <h1>OBJETIVO DEL PROYECTO</h1>
    <p>
      El objetivo es realizar una sencilla aplicación, donde poder ver los datos
      más significativos de los clubes de la Liga Santander y sus plantillas.
      Con la opción de añadir, editar y borrar entradas en ella. No se ha creado
      ningún acceso registro ni control de usuarios.
      <span>La aplicación no esta terminadada.</span> En proximas
      actualizaciones se terminara la rellenar la base de datos. Faltas 16
      plantillas. Y creará en lenguaje React, entre otras mejoras.
    </p>
    <p></p>
  </div>
</template>
