<template>
  <div>
    <vue-headful title="Edición Jugadores" />
    <editplayercomponent
      v-on:getPlayers="getPlayers"
      v-on:data="seeInfoPlayer"
      v-on:delete="deletePlayer"
      :players="players"
    />

    <!-- creamos un modal para el cambiode datos e imagenes del artículo-->

    <div v-show="seeModal" class="modal1">
      <div class="modalBox1" id="modalBox1">
        <h1>Actualiza los datos del jugador:</h1>
        <ul id="modal">
          <article>
            <li>
              <label>Club :</label>
              <select name="club" v-model="clubUpdate" id="club">
                <option value="FC Barcelona">FC Barcelona</option>
                <option value="Real Madrid">Real Madrid</option>
                <option value="At Madrid">At Madrid</option>
                <option value="Real Betis Balompíe">Real Betis Balompíe</option>
                <option value="CF Villarreal">CF Villarreal</option>
                <option value="Real Sociedad">Real Sociedad</option>
                <option value="Sevilla CF">Sevilla CF</option>
                <option value="Getafe CF">Getafe CF</option>
                <option value="Valencia CF">Valencia CF</option>
                <option value="Cadíz CF">Cadíz CF</option>
                <option value="Granada CF">Granada CF</option>
                <option value="Osasuna CF">Osasuna CF</option>
                <option value="Real Celta de Vigo">Real Celta de Vigo</option>
                <option value="SD Eibar">SD Eibar</option>
                <option value="SD Huesca">SD Huesca</option>
                <option value="Elche CF">Elche CF</option>
                <option value="Deportivo Alavés">Deportivo Alavés</option>
                <option value="Levante UD">Levante UD</option>
                <option value="Ath. Bilbao">Ath. Bilbao</option>
                <option value="Real Valladolid">Real Valladolid</option>
              </select>
            </li>

            <li>
              Nombre jugador :
              <input id="name:" type="text" v-model="nameUpdate" />
            </li>

            <li>
              Apellidos del jugador :
              <input id="lastname" type="text" v-model="lastnameUpdate" />
            </li>

            <li>
              Año de debut en el club:
              <input id="start" type="number" v-model="startUpdate" />
            </li>

            <li>
              Lugar de nacimiento :
              <input
                id="localityborn"
                type="text"
                v-model="localitybornUpdate"
              />
            </li>

            <li>
              Fecha de nacimiento :
              <input id="date_briday" type="date" v-model="date_bridayUpdate" />
            </li>

            <li>
              Nacionalidad :
              <input id="nationality" type="text" v-model="nationalityUpdate" />
            </li>

            <li>
              Número de la camiseta :
              <input id="number" type="number" v-model="numberUpdate" />
            </li>

            <li>
              <label>Posición :</label>
              <select name="searcherClub" v-model="positionUpdate" id="club">
                <option value="Entrenador">Entrenador</option>
                <option value="Portero">Portero</option>
                <option value="Defensa">Defensa</option>
                <option value="Centocampista">Centrocampista</option>
                <option value="Delantero">Delantero</option>
              </select>
            </li>

            <li>
              Partidos jugados en el equipo :
              <input
                id="numbermachclub"
                type="number"
                v-model="numbermachclubUpdate"
              />
            </li>

            <li>
              Partidos con su selección :
              <input
                id="numbermachcarrier"
                type="number"
                v-model="numbermachcarrierUpdate"
              />
            </li>

            <li>
              Goles en el club :
              <input
                id="goalsinclub"
                type="number"
                v-model="goalsinclubUpdate"
              />
            </li>

            <li>
              Asistencias en el club :
              <input
                id="asistenceteam"
                type="number"
                v-model="asistenceteamUpdate"
              />
            </li>

            <li>
              Ligas :
              <input id="league" type="text" v-model="leagueUpdate" />
            </li>

            <li>
              Copas del Rey :
              <input id="cup" type="text" v-model="cupUpdate" />
            </li>

            <li>
              Supercopas de España :
              <input id="supercup" type="text" v-model="supercupUpdate" />
            </li>

            <li>
              Champions League :
              <input
                id="championsleague"
                type="text"
                v-model="championsleagueUpdate"
              />
            </li>

            <li>
              Europe League :
              <input id="europaligue" type="text" v-model="europaligueUpdate" />
            </li>

            <li>
              Supercopas de Europa :
              <input
                id="europasupercup"
                type="text"
                v-model="europasupercupUpdate"
              />
            </li>

            <li>
              Mundial de Clubes :
              <input id="mundialclub" type="text" v-model="mundialclubUpdate" />
            </li>

            <li>
              Eurocopa de Naciones :
              <input id="eurocup" type="text" v-model="eurocupUpdate" />
            </li>

            <li>
              Copa Liga de Naciones :
              <input
                id="liguenations"
                type="text"
                v-model="liguenationsUpdate"
              />
            </li>

            <li>
              Copa América :
              <input id="americacup" type="text" v-model="americacupUpdate" />
            </li>

            <li>
              Copa de Mundo :
              <input id="mundial" type="text" v-model="mundialUpdate" />
            </li>

            <li>
              <h1>Cambia la foto del escudo:</h1>
            </li>
            <li>
              <input
                id="file"
                type="file"
                ref="imagenPlayer1"
                @change="catchSeePlayer1"
              />
              <button class="button" @click="updateImage1(idPlayer)">
                Actualizar Foto 1
              </button>
            </li>
            <li>
              <h1>Cambia la foto del estadio:</h1>
            </li>
            <li>
              <input
                id="file"
                type="file"
                ref="imagenPlayer2"
                @change="catchSeePlayer2"
              />
              <button class="button" @click="updateImage2(idPlayer)">
                Actualizar Foto 2
              </button>
            </li>
          </article>
          <li>
            <button
              class="button"
              id="but"
              @click="
                updatePlayer(idPlayer), getPlayers(), (seeModal = !seeModal)
              "
            >
              Actualizar
            </button>

            <button
              class="button"
              id="but"
              @click="(seeModal = !seeModal), getPlayers()"
            >
              Volver atrás
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import editplayercomponent from "@/components/EditPlayerComponent";
import Swal from "sweetalert2";

export default {
  name: "EditPlayer",
  components: {
    editplayercomponent,
  },
  data() {
    return {
      players: [],
      clubUpdate: "",
      nameUpdate: "",
      lastnameUpdate: "",
      startUpdate: "",
      localitybornUpdate: "",
      date_bridayUpdate: "",
      nationalityUpdate: "",
      numberUpdate: "",
      positionUpdate: "",
      numbermachclubUpdate: "",
      numbermachcarrierUpdate: "",
      goalsinclubUpdate: "",
      asistenceteamUpdate: "",
      leagueUpdate: "",
      cupUpdate: "",
      supercupUpdate: "",
      championsleagueUpdate: "",
      europaligueUpdate: "",
      europasupercupUpdate: "",
      americacupUpdate: "",
      recupUpdate: "",
      mundialclubUpdate: "",
      eurocupUpdate: "",
      liguenationsUpdate: "",
      mundialUpdate: "",
      imagenPlayer1: "",
      imagenPlayer2: "",
      idPlayer: "",
      criterio1: "",
      search1: "",
      search2: "",
      search3: "",
      search4: "",
      search5: "",
      criterio2: "",
      seeModal: false,
    };
  },
  methods: {
    async deletePlayer(indexPlayer) {
      try {
        const response = await axios.delete(
          "http://localhost:3000/player/" + indexPlayer,
          {
            club: this.clubUpdate,
            name: this.nameUpdate,
            lastname: this.lastnameUpdate,
            start: this.startUpdate,
            localityborn: this.localitybornUpdate,
            date_briday: this.date_bridayUpdate,
            nationality: this.nationalityUpdate,
            number: this.numberUpdate,
            position: this.positionUpdate,
            numbermachclub: this.numbermachclubUpdate,
            numbermachcarrier: this.numbermachcarrierUpdate,
            goalsinclub: this.goalsinclubUpdate,
            asistenceteam: this.asistenceteamUpdate,
            league: this.leagueUpdate,
            cup: this.cupUpdate,
            supercup: this.supercupUpdate,
            championsleague: this.championsleagueUpdate,
            europaligue: this.europaligueUpdate,
            europasupercup: this.europasupercupUpdate,
            americacup: this.americacupUpdate,
            recup: this.recupUpdate,
            mundialclub: this.mundialclubUpdate,
            eurocup: this.eurocupUpdate,
            liguenations: this.liguenationsUpdate,
            mundial: this.mundialUpdate,
          }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡ELIMINADO!!!",
          text: "¡El equipo ha sido correctamente eliminado.",
        });
        this.getPlayers();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
    async updatePlayer(id) {
      try {
        const response = await axios.put(
          "http://localhost:3000/EditPlayer/" + id,
          {
            club: this.clubUpdate,
            name: this.nameUpdate,
            lastname: this.lastnameUpdate,
            start: this.startUpdate,
            localityborn: this.localitybornUpdate,
            date_briday: this.date_bridayUpdate,
            nationality: this.nationalityUpdate,
            number: this.numberUpdate,
            position: this.positionUpdate,
            numbermachclub: this.numbermachclubUpdate,
            numbermachcarrier: this.numbermachcarrierUpdate,
            goalsinclub: this.goalsinclubUpdate,
            asistenceteam: this.asistenceteamUpdate,
            league: this.leagueUpdate,
            cup: this.cupUpdate,
            supercup: this.supercupUpdate,
            championsleague: this.championsleagueUpdate,
            europaligue: this.europaligueUpdate,
            europasupercup: this.europasupercupUpdate,
            americacup: this.americacupUpdate,
            recup: this.recupUpdate,
            mundialclub: this.mundialclubUpdate,
            eurocup: this.eurocupUpdate,
            liguenations: this.liguenationsUpdate,
            mundial: this.mundialUpdate,
          }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡Actualizado!!!",
          text: "¡El jugador ha sido correctamente actualizado.",
        });
        this.getPlayers();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },

    catchSeePlayer1() {
      this.imagenPlayer1 = this.$refs.imagenPlayer1.files[0];
    },
    catchSeePlayer2() {
      this.imagenPlayer2 = this.$refs.imagenPlayer2.files[0];
    },

    //Conexión al back para subir la foto1
    async updateImage1(id) {
      try {
        let formData = new FormData();
        formData.append("slot", 1);
        formData.append("image", this.imagenPlayer1);

        const response = await axios.post(
          `http://localhost:3000/player/${id}/images`,
          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡Actualizada foto1!!!",
          text: "¡Has cambiado correctamente la foto.",
        });
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
    //Conexión al back para subir la foto2
    async updateImage2(id) {
      try {
        let formData = new FormData();
        formData.append("slot", 2);
        formData.append("image", this.imagenPlayer2);

        const response = await axios.post(
          `http://localhost:3000/player/${id}/images`,

          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡Actualizada foto2!!!",
          text: "¡Has cambiado correctamente la foto2.",
        });
        this.getPlayers();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },

    seeInfoPlayer(players) {
      this.clubUpdate = players.club;
      this.nameUpdate = players.name;
      this.lastnameUpdate = players.lastname;
      this.startUpdate = players.start;
      this.localitybornUpdate = players.localityborn;
      this.date_bridayUpdate = players.date_briday;
      this.nationalityUpdate = players.nationality;
      this.numberUpdate = players.number;
      this.positionUpdate = players.position;
      this.numbermachclubUpdate = players.numbermachclub;
      this.numbermachcarrierUpdate = players.numbermachcarrier;
      this.goalsinclubUpdate = players.goalsinclub;
      this.asistenceteamUpdate = players.asistenceteam;
      this.leagueUpdate = players.league;
      this.cupUpdate = players.cup;
      this.supercupUpdate = players.supercup;
      this.championsleagueUpdate = players.championsleague;
      this.europaligueUpdate = players.europaligue;
      this.europasupercupUpdate = players.europasupercup;
      this.americacupUpdate = players.americacup;
      this.recupUpdate = players.recup;
      this.mundialclubUpdate = players.mundialclub;
      this.eurocupUpdate = players.eurocup;
      this.liguenationsUpdate = players.liguenations;
      this.mundialUpdate = players.mundial;
      this.idPlayer = players.id;
      this.seeModal = true;
    },
    async getPlayers(search) {
      try {
        if (search) {
          const response = await axios.get(
            "http://localhost:3000/listPlayer/",
            {
              params: {
                club: search.option1,
                name: search.value1,
                lastname: search.value2,
                nationality: search.value3,
                localityborn: search.value4,
                number: search.value5,
                position: search.option2,
              },
            }
          );
          this.players = response.data.data;
          console.log(this.players);
        } else {
          const response = await axios.get("http://localhost:3000/listPlayer/");
          this.players = response.data.data;
          console.log(this.players);
        }
      } catch (error) {
        console.error(error);
      }
    },
  },
  created() {
    this.getPlayers();
  },
};
</script>

<style scoped>
</style>