<template>
  <div>
    <!-- <vue-headful title="ShopTec | Edición artículo" /> -->
    <editteamcomponent
      v-on:getTeams="getTeams"
      v-on:data="seeInfoTeam"
      v-on:delete="deleteTeam"
      :teams="teams"
    />

    <!-- creamos un modal para el cambiode datos e imagenes del artículo-->

    <div v-show="seeModal" class="modal1">
      <div class="modalBox1" id="modalBox1">
        <h1>Actualiza los datos de equipos:</h1>
        <ul id="modal">
          <article>
            <li>
              Nombre de la Liga :
              <input
                id="namecompetition:"
                type="text"
                v-model="namecompetitionUpdate"
              />
            </li>

            <li>
              <label>Club :</label>
              <select name="club" v-model="clubUpdate" id="club">
                <option value selected></option>
                <option value="FC Barcelona">FC Barcelona</option>
                <option value="Real Madrid">Real Madrid</option>
                <option value="At Madrid">At Madrid</option>
                <option value="Real Betis Balompíe">Real Betis Balompíe</option>
                <option value="CF Villarreal">CF Villarreal</option>
                <option value="Real Sociedad">Real Sociedad</option>
                <option value="Sevilla CF">Sevilla CF</option>
                <option value="Getafe CF">Getafe CF</option>
                <option value="Valencia CF">Valencia CF</option>
                <option value="Cadíz CF">Cadíz CF</option>
                <option value="Granada CF">Granada CF</option>
                <option value="Osasuna CF">Osasuna CF</option>
                <option value="Real Celta de Vigo">Real Celta de Vigo</option>
                <option value="SD Eibar">SD Eibar</option>
                <option value="SD Huesca">SD Huesca</option>
                <option value="Elche CF">Elche CF</option>
                <option value="Deportivo Alavés">Deportivo Alavés</option>
                <option value="Levante UD">Levante UD</option>
                <option value="Ath. Bilbao">Ath. Bilbao</option>
                <option value="Real Valladolid">Real Valladolid</option>
              </select>
            </li>

            <li>
              Año de fundación :
              <input
                id="yearfundation"
                type="number"
                v-model="yearfundationUpdate"
              />
            </li>

            <li>
              Años en la competición :
              <input
                id="yearsinleague"
                type="number"
                v-model="yearsinleagueUpdate"
              />
            </li>

            <li>
              Nombre estadio :
              <input id="namestadio" type="text" v-model="namestadioUpdate" />
            </li>

            <li>
              Año inaguración estadio :
              <input
                id="yearinaguratestadio"
                type="number"
                v-model="yearinaguratestadioUpdate"
              />
            </li>

            <li>
              Dirección web :
              <input id="address" type="text" v-model="addressUpdate" />
            </li>

            <li>
              Ligas :
              <input id="league" type="number" v-model="leagueUpdate" />
            </li>

            <li>
              Copas del Rey :
              <input id="cup" type="number" v-model="cupUpdate" />
            </li>

            <li>
              Supercopas de España :
              <input id="supercup" type="number" v-model="supercupUpdate" />
            </li>

            <li>
              Champions League :
              <input
                id="championsleague"
                type="number"
                v-model="championsleagueUpdate"
              />
            </li>

            <li>
              Europe League :
              <input
                id="europaligue"
                type="number"
                v-model="europaligueUpdate"
              />
            </li>

            <li>
              Supercopas de Europa :
              <input
                id="europasupercup"
                type="number"
                v-model="europasupercupUpdate"
              />
            </li>

            <li>
              Recopa de Europa :
              <input id="recup" type="number" v-model="recupUpdate" />
            </li>

            <li>
              Mundial de Clubes :
              <input
                id="mundialclub"
                type="number"
                v-model="mundialclubUpdate"
              />
            </li>

            <li>
              <h1>Cambia la foto del escudo:</h1>
            </li>
            <li>
              <input
                id="file"
                type="file"
                ref="imagenTeam1"
                @change="catchSeeTeam1"
              />
              <button class="button" @click="updateImage1(idTeam)">
                Actualizar Foto1
              </button>
            </li>
            <li>
              <h1>Cambia la foto del estadio:</h1>
            </li>
            <li>
              <input
                id="file"
                type="file"
                ref="imagenTeam2"
                @change="catchSeeTeam2"
              />
              <button class="button" @click="updateImage2(idTeam)">
                Actualizar Foto 2
              </button>
            </li>
          </article>
          <li>
            <button
              class="button"
              id="but"
              @click="updateTeam(idTeam), getTeams(), (seeModal = !seeModal)"
            >
              Actualizar
            </button>

            <button
              class="button"
              id="but"
              @click="(seeModal = !seeModal), getTeams()"
            >
              Volver atrás
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import editteamcomponent from "@/components/EditTeamComponent";
import Swal from "sweetalert2";

export default {
  name: "EditTeam",
  components: {
    editteamcomponent,
  },
  data() {
    return {
      teams: [],
      namecompetitionUpdate: "",
      clubUpdate: "",
      yearfundationUpdate: "",
      yearsinleagueUpdate: "",
      namestadioUpdate: "",
      yearinaguratestadioUpdate: "",
      addressUpdate: "",
      leagueUpdate: "",
      cupUpdate: "",
      supercupUpdate: "",
      championsleagueUpdate: "",
      europaligueUpdate: "",
      europasupercupUpdate: "",
      recupUpdate: "",
      mundialclubUpdate: "",
      imagenTeam1: "",
      imagenTeam2: "",
      idTeam: "",
      criterio: "",
      searchCamp: "",
      seeModal: false,
    };
  },
  methods: {
    async deleteTeam(indexTeam) {
      try {
        const response = await axios.delete(
          "http://localhost:3000/team/" + indexTeam,
          {
            namecompetition: this.namecompetitionUpdate,
            club: this.clubUpdate,
            yearfundation: this.yearfundationUpdate,
            yearsinleague: this.yearsinleagueUpdate,
            namestadio: this.namestadioUpdate,
            yearinaguratestadio: this.yearinaguratestadioUpdate,
            address: this.addressUpdate,
            league: this.leagueUpdate,
            cup: this.cupUpdate,
            supercup: this.supercupUpdate,
            championsleague: this.championsleagueUpdate,
            europaligue: this.europaligueUpdate,
            europasupercup: this.europasupercupUpdate,
            recup: this.recupUpdate,
            mundialclub: this.mundialclubUpdate,
          }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡ELIMINADO!!!",
          text: "¡El equipo ha sido correctamente eliminado.",
        });
        this.getTeams();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
    async updateTeam(id) {
      try {
        const response = await axios.put(
          "http://localhost:3000/EditTeam/" + id,
          {
            namecompetition: this.namecompetitionUpdate,
            club: this.clubUpdate,
            yearfundation: this.yearfundationUpdate,
            yearsinleague: this.yearsinleagueUpdate,
            namestadio: this.namestadioUpdate,
            yearinaguratestadio: this.yearinaguratestadioUpdate,
            address: this.addressUpdate,
            league: this.leagueUpdate,
            cup: this.cupUpdate,
            supercup: this.supercupUpdate,
            championsleague: this.championsleagueUpdate,
            europaligue: this.europaligueUpdate,
            europasupercup: this.europasupercupUpdate,
            recup: this.recupUpdate,
            mundialclub: this.mundialclubUpdate,
          }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡Actualizado!!!",
          text: "¡El equipo ha sido correctamente actualizado.",
        });
        this.getTeams();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },

    catchSeeTeam1() {
      this.imagenTeam1 = this.$refs.imagenTeam1.files[0];
    },
    catchSeeTeam2() {
      this.imagenTeam2 = this.$refs.imagenTeam2.files[0];
    },

    //Conexión al back para subir la foto1
    async updateImage1(id) {
      try {
        let formData = new FormData();
        formData.append("slot", 1);
        formData.append("image", this.imagenTeam1);

        const response = await axios.post(
          `http://localhost:3000/team/${id}/images`,
          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡Actualizada foto del escudo!!!",
          text: "¡Has cambiado correctamente escudo del equipo.",
        });
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },
    //Conexión al back para subir la foto2
    async updateImage2(id) {
      try {
        let formData = new FormData();
        formData.append("slot", 2);
        formData.append("image", this.imagenTeam2);

        const response = await axios.post(
          `http://localhost:3000/team/${id}/images`,

          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
        Swal.fire({
          icon: "success",
          title: "¡¡¡Actualizada foto del estadio!!!",
          text: "¡Has cambiado correctamente la foto del estadio.",
        });
        this.getTeams();
      } catch (error) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: `${error.response.data.message}`,
        });
      }
    },

    seeInfoTeam(teams) {
      this.namecompetitionUpdate = teams.namecompetition;
      this.clubUpdate = teams.club;
      this.yearfundationUpdate = teams.yearfundation;
      this.yearsinleagueUpdate = teams.yearsinleague;
      this.namestadioUpdate = teams.namestadio;
      this.yearinaguratestadioUpdate = teams.yearinaguratestadio;
      this.addressUpdate = teams.address;
      this.leagueUpdate = teams.league;
      this.cupUpdate = teams.cup;
      this.supercupUpdate = teams.supercup;
      this.championsleagueUpdate = teams.championsleague;
      this.europaligueUpdate = teams.europaligue;
      this.europasupercupUpdate = teams.europasupercup;
      this.recupUpdate = teams.recup;
      this.mundialclubUpdate = teams.mundialclub;
      this.idTeam = teams.id;
      this.seeModal = true;
    },
    async getTeams(search) {
      try {
        if (search) {
          const response = await axios.get("http://localhost:3000/listTeam/", {
            params: {
              club: search.option,
              namestadio: search.value,
            },
          });
          this.teams = response.data.data;
          console.log(this.teams);
        } else {
          const response = await axios.get("http://localhost:3000/listTeam/");
          this.teams = response.data.data;
          console.log(this.teams);
        }
      } catch (error) {
        console.error(error);
      }
    },
  },
  created() {
    this.getTeams();
  },
};
</script>

<style scoped></style>
