<template>
  <div>
    <!-- <vue-headful title="Futbol | Equipos" /> -->
    <listplayercomponent v-on:listPlayer="listPlayer" :players="players" />
  </div>
</template>

<script>
import axios from "axios";
import listplayercomponent from "@/components/ListPlayerComponent.vue";

export default {
  name: "ListPlayer",
  components: {
    listplayercomponent,
  },
  data() {
    return {
      players: [],
      criterio1: "",
      search1: "",
      search2: "",
      search3: "",
      search4: "",
      search5: "",
      criterio2: "",
    };
  },

  methods: {
    async listPlayer(search) {
      try {
        if (search) {
          const response = await axios.get(
            "http://localhost:3000/listPlayer/",
            {
              params: {
                club: search.option1,
                name: search.value1,
                lastname: search.value2,
                nationality: search.value3,
                localityborn: search.value4,
                number: search.value5,
                position: search.option2,
              },
            }
          );
          this.players = response.data.data;
          console.log(this.players);
        } else {
          const response = await axios.get("http://localhost:3000/listPlayer/");
          this.players = response.data.data;
          console.log(this.players);
        }
      } catch (error) {
        console.error(error);
      }
    },
  },
  created() {
    this.listPlayer();
  },
};
</script>
