<template>
  <div>
    <!-- <vue-headful title="Futbol | Equipos" /> -->
    <listteamcomponent v-on:listTeam="listTeam" :teams="teams" />
  </div>
</template>

<script>
import axios from "axios";
import listteamcomponent from "@/components/ListTeamComponent.vue";

export default {
  name: "ListTeam",
  components: {
    listteamcomponent,
  },
  data() {
    return {
      teams: [],
      criterio: "",
      searchCamp: "",
    };
  },

  methods: {
    async listTeam(search) {
      try {
        if (search) {
          const response = await axios.get("http://localhost:3000/listTeam/", {
            params: {
              club: search.option,
              namestadio: search.value,
            },
          });
          this.teams = response.data.data;
          console.log(this.teams);
        } else {
          const response = await axios.get("http://localhost:3000/listTeam/");
          this.teams = response.data.data;
          console.log(this.teams);
        }
      } catch (error) {
        console.error(error);
      }
    },
  },
  created() {
    this.listTeam();
  },
};
</script>
