<template>
  <div>
    <!-- <vue-headful title="ShopTec | Nuevo artículo" /> -->
    <h1>Formulario para añadir nuevo jugador:</h1>
    <ul class="table">
      <li>
        <label>Club :</label>
        <select name="searcherClub" v-model="club" id="club">
          <option value selected></option>
          <option value="FC Barcelona">FC Barcelona</option>
          <option value="Real Madrid">Real Madrid</option>
          <option value="At Madrid">At Madrid</option>
          <option value="Real Betis Balompíe">Real Betis Balompíe</option>
          <option value="CF Villarreal">CF Villarreal</option>
          <option value="Real Sociedad">Real Sociedad</option>
          <option value="Sevilla CF">Sevilla CF</option>
          <option value="Getafe CF">Getafe CF</option>
          <option value="Valencia CF">Valencia CF</option>
          <option value="Cadíz CF">Cadíz CF</option>
          <option value="Granada CF">Granada CF</option>
          <option value="Osasuna CF">Osasuna CF</option>
          <option value="Real Celta de Vigo">Real Celta de Vigo</option>
          <option value="SD Eibar">SD Eibar</option>
          <option value="SD Huesca">SD Huesca</option>
          <option value="Elche CF">Elche CF</option>
          <option value="Deportivo Alavés">Deportivo Alavés</option>
          <option value="Levante UD">Levante UD</option>
          <option value="Ath. Bilbao">Ath. Bilbao</option>
          <option value="Real Valladolid">Real Valladolid</option>
        </select>
      </li>

      <li>
        Nombre :
        <input id="name" type="text" v-model="name" />
      </li>

      <li>
        Apellidos :
        <input id="lastname" type="text" v-model="lastname" />
      </li>

      <li>
        Año de debut en el club:
        <input id="start" type="number" v-model="start" />
      </li>

      <li>
        Lugar de nacimiento :
        <input id="localityborn" type="text" v-model="localityborn" />
      </li>

      <li>
        Fecha de nacimiento :
        <input id="date_briday" type="date" v-model="date_briday" />
      </li>

      <li>
        Nacionalidad :
        <input id="nationality" type="text" v-model="nationality" />
      </li>

      <li>
        Número de la camiseta :
        <input id="number" type="number" v-model="number" />
      </li>

      <li>
        <label>Posición :</label>
        <select name="searcherClub" v-model="position" id="club">
          <option value selected></option>
          <option value="Entrenador">Entrenador</option>
          <option value="Portero">Portero</option>
          <option value="Defensa">Defensa</option>
          <option value="Centocampista">Centrocampista</option>
          <option value="Delantero">Delantero</option>
        </select>
      </li>

      <li>
        Partidos jugados en el equipo :
        <input id="numbermachclub" type="number" v-model="numbermachclub" />
      </li>

      <li>
        Partidos con su selección :
        <input
          id="numbermachcarrier"
          type="number"
          v-model="numbermachcarrier"
        />
      </li>

      <li>
        Goles en el club :
        <input id="goalsinclub" type="number" v-model="goalsinclub" />
      </li>

      <li>
        Asistencias en el club :
        <input id="asistenceteam" type="number" v-model="asistenceteam" />
      </li>

      <li>
        Liga :
        <input id="league" type="text" v-model="league" />
      </li>

      <li>
        Copa del Rey :
        <input id="cup" type="text" v-model="cup" />
      </li>

      <li>
        Supercopa de España :
        <input id="supercup" type="text" v-model="supercup" />
      </li>

      <li>
        Champions League :
        <input id="championsleague" type="text" v-model="championsleague" />
      </li>

      <li>
        Europe Ligue (Copa Uefa) :
        <input id="europaligue" type="text" v-model="europaligue" />
      </li>

      <li>
        Supercopa de Europa :
        <input id="europasupercup" type="text" v-model="europasupercup" />
      </li>

      <li>
        Mundial de Clubes :
        <input id="mundialclub" type="text" v-model="mundialclub" />
      </li>

      <li>
        Eurocopa de Naciones :
        <input id="eurocup" type="text" v-model="eurocup" />
      </li>

      <li>
        Copa Liga de Naciones :
        <input id="liguenations" type="text" v-model="liguenations" />
      </li>

      <li>
        Copa América :
        <input id="americacup" type="text" v-model="americacup" />
      </li>

      <li>
        Copa de Mundo :
        <input id="mundial" type="text" v-model="mundial" />
      </li>

      <p>Añade la una foto del jugador.</p>
      <li>
        <input
          id="file"
          type="file"
          ref="imagenArticulo1"
          @change="catchSeeArticle1"
        />
      </li>
      <p>Añade otra foto del jugador.</p>
      <li>
        <input
          id="file"
          type="file"
          ref="imagenArticulo2"
          @change="catchSeeArticle2"
        />
      </li>

      <li>
        <button class="button" id="player" @click="validateData()">
          Añadir jugador
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "NewPlayer",
  data() {
    return {
      club: "",
      name: "",
      lastname: "",
      start: "",
      localityborn: "",
      date_briday: "",
      nationality: "",
      number: "",
      position: "",
      numbermachclub: "",
      numbermachcarrier: "",
      goalsinclub: "",
      asistenceteam: "",
      league: "",
      cup: "",
      supercup: "",
      championsleague: "",
      europaligue: "",
      europasupercup: "",
      americacup: "",
      mundialclub: "",
      eurocup: "",
      liguenations: "",
      mundial: "",
      imagenArticulo1: "",
      imagenArticulo2: "",
      createTeam: false,
    };
  },
  methods: {
    validateData() {
      if (this.club === "" || this.name === "" || this.lastname === "") {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡Has dejado campos sin rellenar!",
        });

        this.createPlayer = false;
      } else {
        this.createPlayer = true;
        this.addNewPlayer();
      }
    },
    catchSeeArticle1() {
      this.imagenArticulo1 = this.$refs.imagenArticulo1.files[0];
    },
    catchSeeArticle2() {
      this.imagenArticulo2 = this.$refs.imagenArticulo2.files[0];
    },

    async addNewPlayer() {
      if (this.createPlayer === true) {
        try {
          let formData = new FormData();
          formData.append("club", this.club);
          formData.append("name", this.name);
          formData.append("lastname", this.lastname);
          formData.append("start", this.start);
          formData.append("localityborn", this.localityborn);
          formData.append("date_briday", this.date_briday);
          formData.append("nationality", this.nationality);
          formData.append("number", this.number);
          formData.append("position", this.position);
          formData.append("numbermachclub", this.numbermachclub);
          formData.append("numbermachcarrier", this.numbermachcarrier);
          formData.append("goalsinclub", this.goalsinclub);
          formData.append("asistenceteam", this.asistenceteam);
          formData.append("league", this.league);
          formData.append("cup", this.cup);
          formData.append("supercup", this.supercup);
          formData.append("championsleague", this.championsleague);
          formData.append("europaligue", this.europaligue);
          formData.append("europasupercup", this.europasupercup);
          formData.append("americacup", this.americacup);
          formData.append("mundialclub", this.mundialclub);
          formData.append("eurocup", this.eurocup);
          formData.append("liguenations", this.liguenations);
          formData.append("mundial", this.mundial);
          formData.append("processImage1", this.imagenArticulo1);
          formData.append("processImage2", this.imagenArticulo2);

          const response = await axios.post(
            "http://localhost:3000/players",
            formData,
            { header: { "Content-Type": "multipart/form-data" } }
          );
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Jugador creado correctamente.",
            showConfirmButton: false,
            timer: 1500,
          });
          // this.$router.push({ name: "HomeUser" });
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
        this.createPlayer = false;
        this.club = "";
        this.name = "";
        this.lastname = "";
        this.start = "";
        this.localityborn = "";
        this.date_briday = "";
        this.nationality = "";
        this.number = "";
        this.position = "";
        this.numbermachclub = "";
        this.numbermachcarrier = "";
        this.goalsinclub = "";
        this.asistenceteam = "";
        this.league = "";
        this.cup = "";
        this.supercup = "";
        this.championsleague = "";
        this.europaligue = "";
        this.europasupercup = "";
        this.americacup = "";
        this.mundialclub = "";
        this.eurocup = "";
        this.liguenations = "";
        this.mundial = "";
        this.imagenArticulo1 = "";
        this.imagenArticulo2 = "";
      } else {
        console.log("Algo va mal");
      }
    },
  },
};
</script>

<style scoped></style>
