<template>
  <div>
    <!-- <vue-headful title="ShopTec | Nuevo artículo" /> -->
    <h1>Formulario para añadir nuevo equipo:</h1>
    <ul class="table">
      <li>
        Nombre da la Liga :
        <input
          class="text"
          id="namecompetition"
          type="text"
          v-model="namecompetition"
        />
      </li>

      <li>
        <label>Club :</label>
        <select name="searcherClub" v-model="club" id="club">
          <option value selected></option>
          <option value="FC Barcelona">FC Barcelona</option>
          <option value="Real Madrid">Real Madrid</option>
          <option value="At Madrid">At Madrid</option>
          <option value="Real Betis Balompíe">Real Betis Balompíe</option>
          <option value="CF Villarreal">CF Villarreal</option>
          <option value="Real Sociedad">Real Sociedad</option>
          <option value="Sevilla CF">Sevilla CF</option>
          <option value="Getafe CF">Getafe CF</option>
          <option value="Valencia CF">Valencia CF</option>
          <option value="Cadíz CF">Cadíz CF</option>
          <option value="Granada CF">Granada CF</option>
          <option value="Osasuna CF">Osasuna CF</option>
          <option value="Real Celta de Vigo">Real Celta de Vigo</option>
          <option value="SD Eibar">SD Eibar</option>
          <option value="SD Huesca">SD Huesca</option>
          <option value="Elche CF">Elche CF</option>
          <option value="Deportivo Alavés">Deportivo Alavés</option>
          <option value="Levante UD">Levante UD</option>
          <option value="Ath. Bilbao">Ath. Bilbao</option>
          <option value="Real Valladolid">Real Valladolid</option>
        </select>
      </li>

      <li>
        Año fundación :
        <input id="yearfundation" type="number" v-model="yearfundation" />
      </li>

      <li>
        Años en la Liga :
        <input id="yearsinleague" type="number" v-model="yearsinleague" />
      </li>

      <li>
        Nombre del estadio :
        <input class="text" id="namestadio" type="text" v-model="namestadio" />
      </li>

      <li>
        Año inaguración del estadio :
        <input
          id="yearinaguratestadio"
          type="number"
          v-model="yearinaguratestadio"
        />
      </li>

      <li>
        Dirección web del club :
        <input class="text" id="address" type="text" v-model="address" />
      </li>

      <li>
        Ligas :
        <input id="league" type="number" v-model="league" />
      </li>

      <li>
        Copas del Rey :
        <input id="cup" type="number" v-model="cup" />
      </li>

      <li>
        Supercopas de España :
        <input id="supercup" type="number" v-model="supercup" />
      </li>

      <li>
        Champions League :
        <input id="championsleague" type="number" v-model="championsleague" />
      </li>

      <li>
        Europe Ligue (Copa Uefa) :
        <input id="europaligue" type="number" v-model="europaligue" />
      </li>

      <li>
        Supercopas de Europa :
        <input id="europasupercup" type="number" v-model="europasupercup" />
      </li>

      <li>
        Recopa de Europa :
        <input id="recup" type="number" v-model="recup" />
      </li>

      <li>
        Mundial de Clubes :
        <input id="mundialclub" type="number" v-model="mundialclub" />
      </li>

      <p>Añade la foto del escudo del equipo.</p>
      <li>
        <input
          id="file"
          type="file"
          ref="imagenArticulo1"
          @change="catchSeeArticle1"
        />
      </li>
      <p>Añade la foto del estadio del equipo.</p>
      <li>
        <input
          id="file"
          type="file"
          ref="imagenArticulo2"
          @change="catchSeeArticle2"
        />
      </li>

      <li>
        <button class="button" @click="validateData()">Añadir equipo</button>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "NewTeam",
  data() {
    return {
      namecompetition: "",
      club: "",
      yearfundation: "",
      yearsinleague: "",
      namestadio: "",
      yearinaguratestadio: "",
      address: "",
      league: "",
      cup: "",
      supercup: "",
      championsleague: "",
      europaligue: "",
      europasupercup: "",
      americacup: "",
      recup: "",
      mundialclub: "",
      imagenArticulo1: "",
      imagenArticulo2: "",
      createTeam: false,
    };
  },
  methods: {
    validateData() {
      if (
        this.namecompetition === "" ||
        this.club === "" ||
        this.namestadio === ""
      ) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡Has dejado campos sin rellenar!",
        });

        this.createTeam = false;
      } else {
        this.createTeam = true;
        this.addNewTeam();
      }
    },
    catchSeeArticle1() {
      this.imagenArticulo1 = this.$refs.imagenArticulo1.files[0];
    },
    catchSeeArticle2() {
      this.imagenArticulo2 = this.$refs.imagenArticulo2.files[0];
    },

    async addNewTeam() {
      if (this.createTeam === true) {
        try {
          let formData = new FormData();
          formData.append("namecompetition", this.namecompetition);
          formData.append("club", this.club);
          formData.append("yearfundation", this.yearfundation);
          formData.append("yearsinleague", this.yearsinleague);
          formData.append("namestadio", this.namestadio);
          formData.append("yearinaguratestadio", this.yearinaguratestadio);
          formData.append("address", this.address);
          formData.append("league", this.league);
          formData.append("cup", this.cup);
          formData.append("supercup", this.supercup);
          formData.append("championsleague", this.championsleague);
          formData.append("europaligue", this.europaligue);
          formData.append("europasupercup", this.europasupercup);
          formData.append("americacup", this.americacup);
          formData.append("recup", this.recup);
          formData.append("mundialclub", this.mundialclub);
          formData.append("processImage1", this.imagenArticulo1);
          formData.append("processImage2", this.imagenArticulo2);

          const response = await axios.post(
            "http://localhost:3000/teams",
            formData,
            { header: { "Content-Type": "multipart/form-data" } }
          );
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Equipo creado correctamente.",
            showConfirmButton: false,
            timer: 1500,
          });
          // this.$router.push({ name: "HomeUser" });
        } catch (error) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
          });
        }
        this.createTeam = false;
        this.namecompetition = "";
        this.club = "";
        this.yearfundation = "";
        this.yearsinleague = "";
        this.namestadio = "";
        this.yearinaguratestadio = "";
        this.address = "";
        this.league = "";
        this.cup = "";
        this.supercup = "";
        this.championsleague = "";
        this.europaligue = "";
        this.europasupercup = "";
        this.americacup = "";
        this.recup = "";
        this.mundialclub = "";
        this.imagenArticulo1 = "";
        this.imagenArticulo2 = "";
      } else {
        console.log("Algo va mal");
      }
    },
  },
};
</script>

<style scoped></style>
