@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  --blue: #7000ff;
  --orange: #f2a54a;
  --white: #ffffff;
  --black: #000000;
  --font: Roboto, sans-serif;
}

ul {
  list-style: none;
}

body {
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > header {
  padding: 2rem 0;
}

body > header h1 {
  text-align: center;
  font-size: 3rem;
}

/* lista de article */

body > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

body > ul li {
  max-width: 350px;
}

body > ul article {
  background-color: var(--white);
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body > ul article header {
  text-align: center;
  padding: 1rem;
}

body > ul article header figure {
  margin-bottom: 1rem;
}

body > ul article header figure img {
  border-radius: 50%;
}

body > ul article header h2 {
  color: var(--black);
  margin-bottom: 1rem;
}

body > ul article > p {
  padding: 1rem;
  background-color: var(--blue);
  font-weight: 300;
}

body > ul article header nav ul {
  display: flex;
  justify-content: center;
}

body > ul article header nav ul li a {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  font-size: 0;
}

body > ul article header nav ul li a.facebook {
  background-image: url("/img/Facebook.svg");
}

body > ul article header nav ul li a.instagram {
  background-image: url("/img/Instagram.svg");
}

body > ul article header nav ul li a.twitter {
  background-image: url("/img/Twitter.svg");
}

body > ul article header nav ul li a.linkedin {
  background-image: url("/img/LinkedIN.svg");
}

/* footer */

footer {
  background-color: var(--blue);
  font-family: var(--font);
  font-weight: 300;
}

@media (min-width: 700px) {
  body > header h1 {
    font-size: 5rem;
  }
}
