@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  --white: #ffffff;
  --black: #333333;
  --orange: #ee8a08;
  --blue: #0c0481;

  --font: "Roboto", sans-serif;
}

img {
  border-radius: 50%;
  margin: 2.25rem 0 1.5rem 0;
}

/* header */

body > header {
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--font);
  text-align: center;
  font-weight: 900;
  padding: 2rem;
}

/* body */

body {
  background-color: var(--orange);
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* lista articles */

body > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

body > ul li {
  max-width: 400px;
}

body > ul article {
  background-color: var(--white);
  margin: 1.5rem;
  box-shadow: 0 0 10px rgba(17, 4, 4, 0.5);
}

body > ul article header {
  color: var(--black);
  font-family: var(--font);
  font-weight: 500;
  text-align: center;
}

body > ul article p {
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--font);
  font-weight: 300;
  padding: 1rem;
  margin-top: 1rem;
}

body > ul article header nav ul {
  display: flex;
  justify-content: center;
}

body > ul article header nav ul li a {
  display: block;
  width: 40px;
  height: 40px;
  margin: 1.25rem 0.5rem;
  font-size: 0;
}

body > ul article header nav ul li a.facebook {
  background-image: url("/img/Facebook.svg");
}

body > ul article header nav ul li a.instagram {
  background-image: url("/img/Instagram.svg");
}

body > ul article header nav ul li a.twitter {
  background-image: url("/img/Twitter.svg");
}

body > ul article header nav ul li a.linkedin {
  background-image: url("/img/LinkedIN.svg");
}

/* footer */

footer {
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--font);
  font-weight: 300;
  padding: 1rem;
  text-align: center;
}

/* media query de 700px */

@media (min-width: 700px) {
  body > header h1 {
    font-size: 3rem;
  }
}
