<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf8">
        <title>Métodos</title>
        <style>
        </style>
    </head>
    <body>

        <!-- Div donde Vue se renderiza 👇 (fuera de aquí no funciona) -->
        <div id="app">
            <button @click="welcome()">
                Alert
            </button>
            <p>
                {{ contador }}
            </p>
            <button @click="suma()">
                Suma
            </button>
            <button @click="resta()">
                Resta
            </button>
        </div>

        <!-- Importando Vuejs 👇 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- El objeto Vue 👇 -->
        <script>
            const app = new Vue ({
                el: '#app', // Indico dónde Vue se renderiza en el HTML
                data() { // En Data se guardan las variables 
                    return {
                        contador: 0
                    }
                },
                methods: { // En Methods se crean las funciones
                    welcome() {
                        alert('Hola 👋')
                    },
                    suma(){
                        this.contador++;
                    },
                    resta(){
                        this.contador--;
                    }
                }
            })
        </script>

    </body>
</html>