<template>
  <div>
    <h1>Te has registrado correctamente.</h1>
    <p>Pulsa sobre Login para iniciar sesión.</p>
    <p v-show="showError">{{errorMsg}}</p>
    <router-link to="/" tag="button">redirecciona al login.</router-link>
  </div>
</template>

<script>
//Importamos modulos necesarios
import axios from "axios";

export default {
  name: "Activate",

  data() {
    return {
      swhoError: false,
      errorMsg: "",
    };
  },

  methods: {
    async validateUser() {
      try {
        let url = window.location.href;
        let registrationCode = url.split("?");

        const response = await axios.get(
          `http://localhost:3000/users/validate/` + registrationCode[1]
        );
      } catch (error) {
        this.swhoError = true;
        this.errorMsg = error.response.data.message;
      }
    },
  },
  created() {
    this.validateUser();
  },
};
</script>
<style scoped>
</style>

