<template>
  <div>
    <h1>Recuperación de la contraseña.</h1>
    <p>PASO 2: Introduce el código que has recibido en tu cuenta de correo y pon una contraseña</p>
    <p>diferente a la ´ultima y qu etenga 8 o más caracteres. Después pulsa el botón y ya podrás</p>
    <p>volver a identificarte con la nueva contraseña.</p>
    <p>
      <input v-model="recoveryCode" type="text" placeholder="escribe el código de recuperación" />
    </p>
    <p>
      <input v-model="password" type="password" placeholder="escribe una nueva password" />
    </p>
    <!--    <p>
      <input type="password" placeholder="repite tu password" />
    </p>-->
    <p>
      <button @click="validateData()">Haz click para cambiar la contraseña.</button>
    </p>
    <router-link :to="{name: 'Login'}">Crear redirección ha login</router-link>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "CodeResetPassword",
  data() {
    return {
      recoveryCode: "",
      password: "",
      createPassword: "",
      errorMsg: false,
    };
  },
  methods: {
    validateData() {
      if (this.recoveryCode === "" || this.password === "") {
        alert("No puedes dejar campos vacios");
        this.errorMsg = true;
        this.createPassword = false;
      } else {
        this.errorMsg = false;
        this.createPassword = true;
        this.newPassword();
      }
    },
    //conexion al Back
    async newPassword() {
      if (this.createPassword === true) {
        try {
          const response = await axios.post(
            "http://localhost:3000/users/reset-password",
            {
              recoveryCode: self.recoveryCode,
              password: self.password,
            }
          );
        } catch (error) {
          console.error(error);
        }
        this.createPassword = false;
        this.recoveryCode = "";
        this.password = "";
      } else {
        console.error("Esto no va.");
      }
    },
  },
};
</script>

<style scoped>
</style>