<template>
  <div>
    <h1>Confirmar reserva de artículo.</h1>
    <ul>
      <li>id {{ article.id }}</li>
      <li>Categoria {{ article.category }}</li>
      <li>Marca: {{ article.brand }}</li>
      <li>Descripción: {{ article.description }}</li>
      <li>Precio: {{ article.price }} €</li>
      <li>Provincia: {{ article.province }}</li>
      <li>Ciudad: {{ article.city }}</li>
      <li>Valoración: {{ article.user_rating}}</li>

      <li>
        <img :src="getImageName(article.image1)" />

        <img :src="getImageName(article.image2)" />

        <img :src="getImageName(article.image3)" />
      </li>

      <li>
        <input type="text" placeholder="dia de la semana" v-model="day_week" />
      </li>
      <li>
        <input type="text" placeholder="hora del dia " v-model="time" />
      </li>
      <li>
        <input type="text" placeholder="direccion de encuentro" v-model="address" />
      </li>

      <li>
        <button @click="createdReserve(articleId)">Confirmar reserva</button>
      </li>

      <router-link to="/vote" tag="button">redirecciona al voto</router-link>
    </ul>
  </div>
</template>

<script>
//Importamos modulos necesarios
import { getIdToken } from "../utils/utils";
import axios from "axios";

export default {
  name: "ConfirmReserve",
  components: {},
  data() {
    return {
      articleId: "",
      day_week: "",
      time: "",
      address: "",
      article: {},
    };
  },

  methods: {
    async createdReserve(articleId) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        const response = await axios.post(
          `http://localhost:3000/articles/${articleId}/confirm/`,
          {
            day_week: this.day_week,
            time: this.time,
            address: this.address,
          }
        );
      } catch (error) {
        console.log(error);
      }
    },

    //conexion al Back
    async listArticle() {
      try {
        let url = window.location.href;
        let [, id] = url.split("?");
        this.articleId = id;

        const response = await axios.get("http://localhost:3000/articles");
        let allArticle = response.data.data;
        for (const article of allArticle) {
          if (article.id === Number(this.articleId)) {
            this.article = article;
          }
        }
        console.log(response);
      } catch (error) {
        console.error(error);
      }
    },

    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },

  created() {
    this.listArticle();
  },
};
</script>
<style scoped>
</style>

