<template>
  <div class="home">
    <!--Actualizar cliente-->

    <div>
      <h3>Actualiza tus datos de usuario:</h3>

      <p>
        <input type="text" placeholder="Nombre" v-model="nameUpdate" />
      </p>
      <p />
      <p>
        <input type="text" placeholder="Apellidos" v-model="last_nameUpdate" />
      </p>
      <p>
        <input type="text" placeholder="Teléfono" v-model="phoneUpdate" />
      </p>
      <p>
        <input type="email" placeholder="email" v-model="emailUpdate" />
      </p>
      <p>
        <input type="text" placeholder="Dirección" v-model="addressUpdate" />
      </p>
      <p>
        <input type="text" placeholder="Ciudad" v-model="cityUpdate" />
      </p>
      <p />
      <p>
        <button @click="updateClient()">Actualizar</button>
      </p>

      <p>
        <router-link to="/resetPassword" tag="button">Cambiar contraseña</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import { getIdToken } from "../utils/utils";
import axios from "axios";

export default {
  name: "EditUser",
  components: {},
  data() {
    return {
      users: [],
      nameUpdate: "",
      last_nameUpdate: "",
      phoneUpdate: "",
      emailUpdate: "",
      addressUpdate: "",
      cityUpdate: "",
    };
  },
  methods: {
    async updateClient() {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        const response = await axios.put(
          "http://localhost:3000/users/" + getIdToken(token),
          {
            name: this.nameUpdate,
            last_name: this.last_nameUpdate,
            phone: this.phoneUpdate,
            email: this.emailUpdate,
            address: this.addressUpdate,
            city: this.cityUpdate,
          }
        );
      } catch (error) {
        console.error(error);
      }
    },
    seeInfoClient(users) {
      this.nameUpdate = users[0].name;
      this.last_nameUpdate = users[0].last_name;
      this.phoneUpdate = users[0].phone;
      this.emailUpdate = users[0].email;
      this.addressUpdate = users[0].address;
      this.cityUpdate = users[0].city;
    },
    async getClient() {
      let token = localStorage.getItem("AUTH_TOKEN_KEY");
      axios.defaults.headers.common["Authorization"] = `${token}`;

      try {
        const response = await axios.get(
          "http://localhost:3000/users/" + getIdToken(token)
        );
        this.users = response.data.data;
        console.log(this.users);
      } catch (error) {
        console.error(error);
      }
      this.seeInfoClient(this.users);
    },
  },
  created() {
    this.getClient();
  },
};
</script>

<style scoped>
</style>