<template>
  <div>
    <editarticlecomp v-on:data="seeInfoArticles" v-on:delete="deleteArticle" :articles="articles" />

    <!-- creamos un modal para el cambiode datos e imagenes del artículo-->
    <div v-show="seeModal" class="modal">
      <div class="modalBox">
        <h3>Actualiza los datos de tu artículo:</h3>

        <p>
          <input type="text" v-model="brandUpdate" placeholder="Marca" />
        </p>

        <p>
          <input type="text" v-model="categoryUpdate" placeholder="Categoría" />
        </p>

        <p>
          <input type="text" v-model="descriptionUpdate" placeholder="Descripciń" />
        </p>

        <p>
          <input type="text" v-model="priceUpdate" placeholder="Precio" />
        </p>

        <p>
          <input type="text" v-model="provinceUpdate" placeholder="Provincia" />
        </p>

        <p>
          <button @click="updateArticle(idArticle)">Actualizar</button>
        </p>
        <h3>Cambia las fotos de tu artículo:</h3>

        <ul>
          <li>
            <input type="file" ref="imagenArticulo1" @change="catchSeeArticle1" />

            <p>Nombre de la captura1: {{imagenArticulo1.name}}</p>

            <button @click="updateImage1(idArticle)">Actualizar imagen1</button>

            <p>
              <input type="file" ref="imagenArticulo2" @change="catchSeeArticle2" />
            </p>
            <p>Nombre de la captura2: {{imagenArticulo2.name}}</p>

            <button @click="updateImage2(idArticle)">Actualizar imagen2</button>

            <p>
              <input type="file" ref="imagenArticulo3" @change="catchSeeArticle3" />
            </p>
            <p>Nombre de la captura3: {{imagenArticulo3.name}}</p>

            <button @click="updateImage3(idArticle)">Actualizar imagen3</button>
          </li>
          <p>
            <button @click="seeModal =! seeModal">Cancelar</button>
          </p>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { getIdToken } from "../utils/utils";
import axios from "axios";
import editarticlecomp from "./../components/EditArticlesComp";

export default {
  name: "EditArticle",
  components: {
    editarticlecomp,
  },
  data() {
    return {
      articles: [],
      brandUpdate: "",
      categoryUpdate: "",
      descriptionUpdate: "",
      priceUpdate: "",
      provinceUpdate: "",
      imagenArticulo1: "",
      imagenArticulo2: "",
      imagenArticulo3: "",
      idArticle: "",
      seeModal: false,
    };
  },
  methods: {
    async deleteArticle(indexArticle) {
      try {
        const response = await axios.delete(
          "http://localhost:3000/articles/" + indexArticle,
          {
            brand: this.brandUpdate,
            category: this.categoryUpdate,
            description: this.descriptionUpdate,
            price: this.priceUpdate,
            province: this.provinceUpdate,
          }
        );
      } catch (error) {
        console.log(error);
      }
    },
    async updateArticle(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        const response = await axios.put(
          "http://localhost:3000/articles/" + id,
          {
            brand: this.brandUpdate,
            category: this.categoryUpdate,
            description: this.descriptionUpdate,
            price: this.priceUpdate,
            province: this.provinceUpdate,
          }
        );
      } catch (error) {
        console.error(error);
      }
    },

    catchSeeArticle1() {
      this.imagenArticulo1 = this.$refs.imagenArticulo1.files[0];
      console.log(this.imagenArticulo1);
    },
    catchSeeArticle2() {
      this.imagenArticulo2 = this.$refs.imagenArticulo2.files[0];
      console.log(this.imagenArticulo2);
    },
    catchSeeArticle3() {
      this.imagenArticulo3 = this.$refs.imagenArticulo3.files[0];
      console.log(this.imagenArticulo3);
    },
    //Conexión al back para subir la foto1
    async updateImage1(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        let formData = new FormData();
        formData.append("slot", 1);
        formData.append("image", this.imagenArticulo1);

        const response = await axios.post(
          `http://localhost:3000/articles/${id}/images`,
          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
      } catch (error) {
        console.error(error);
      }
    },
    //Conexión al back para subir la foto2
    async updateImage2(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        let formData = new FormData();
        formData.append("slot", 2);
        formData.append("image", this.imagenArticulo2);

        const response = await axios.post(
          `http://localhost:3000/articles/${id}/images`,
          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
      } catch (error) {
        console.error(error);
      }
    },

    async updateImage3(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        let formData = new FormData();
        formData.append("slot", 3);
        formData.append("image", this.imagenArticulo3);

        const response = await axios.post(
          `http://localhost:3000/articles/${id}/images`,
          formData,

          { header: { "Content-Type": "multipart/form-data" } }
        );
      } catch (error) {
        console.error(error);
      }
    },

    seeInfoArticles(articles) {
      this.brandUpdate = articles.brand;
      this.categoryUpdate = articles.category;
      this.descriptionUpdate = articles.description;
      this.priceUpdate = articles.price;
      this.provinceUpdate = articles.province;
      this.idArticle = articles.id;
      this.seeModal = true;
    },
    async getArticles() {
      let token = localStorage.getItem("AUTH_TOKEN_KEY");
      axios.defaults.headers.common["Authorization"] = `${token}`;

      try {
        const response = await axios.get(
          "http://localhost:3000/articlesuser/" + getIdToken(token)
        );
        this.articles = response.data.data;
        console.log(this.articles);
      } catch (error) {
        console.error(error);
      }
    },
  },
  created() {
    this.getArticles();
  },
};
</script>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modalBox {
  background-color: seashell;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #666;
}
</style>
