<template>
  <div>
    <h1>Buff. La ruta a la que quieres acceder ya no éxiste.</h1>
    <h2>Esto es un Error 404: This page not found.</h2>
  </div>
</template>

<script>
export default {
  name: "Error",
};
</script>

<style scoped></style>
