<template>
  <div>
    <router-link to="/ListBuy" tag="button">Listado de compras de artículos</router-link>
    <router-link to="/ListSeller" tag="button">Listado de venta de artículos</router-link>
    <listarticlescomp v-on:listArticle="listArticle" />
    <reservecomp v-on:data="seeInfoReserve" :articles="articles" />
    <div v-show="seeModal" class="modal">
      <div class="modalBox">
        <p>
          Categoría:
          <input v-model="category" placeholder="Categoría" disabled />
        </p>
        <p>
          Marca:
          <input v-model="brand" placeholder="Marca" disabled />
        </p>
        <p>
          Descripción:
          <input v-model="description" placeholder="Descripción" disabled />
        </p>
        <p>
          Precio:
          <input v-model="price" placeholder="Precio" disabled />
        </p>
        <p>
          Vendedor:
          <input v-model="name" placeholder="Vendedor" disabled />
        </p>
        <p>
          Valoración:
          <input v-model="user_rating" placeholder="Valoración" disabled />
        </p>
        <p>
          <img :src="getImageName(image1)" />
          <img :src="getImageName(image2)" />
          <img :src="getImageName(image3)" />
        </p>

        <p>
          <button @click="createdReserve(idArticle)">Confirmar reserva</button>
          <button @click="seeModal =! seeModal">Cancelar</button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
//Importamos modulos necesarios
import { getIdToken } from "../utils/utils";
import axios from "axios";
import reservecomp from "./../components/ReserveComp";
import listarticlescomp from "@/components/ListArticlesComp.vue";

export default {
  name: "HomeUser",
  components: {
    reservecomp,
    listarticlescomp,
  },
  data() {
    return {
      articles: [],
      idArticle: "",
      criterio: "",
      criterio1: "",
      brand: "",
      category: "",
      description: "",
      price: "",
      province: "",
      name: "",
      user_rating: "",
      image1: "",
      image2: "",
      image3: "",

      seeModal: false,
    };
  },

  methods: {
    async createdReserve(id) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        const response = await axios.post(
          "http://localhost:3000/articles/reserve/" + id
        );
      } catch (error) {
        console.log(error);
      }
    },
    seeInfoReserve(dataArticle) {
      this.brand = dataArticle.brand;
      this.category = dataArticle.category;
      this.description = dataArticle.description;
      this.price = dataArticle.price;
      this.province = dataArticle.province;
      this.name = dataArticle.name;
      this.user_rating = dataArticle.user_rating;
      this.image1 = dataArticle.image1;
      this.image2 = dataArticle.image2;
      this.image3 = dataArticle.image3;
      this.idArticle = dataArticle.id;
      this.seeModal = true;
    },
    async listArticles() {
      try {
        const response = await axios.get("http://localhost:3000/articles");
        console.log(response);
        this.articles = response.data.data;
      } catch (error) {
        console.error(error);
      }
    },
    //conexion al Back
    async listArticle(search) {
      try {
        if (search) {
          const response = await axios.get("http://localhost:3000/articles/", {
            params: {
              category: search.option,
              brand: search.value,
              priceMin: search.priceMin,
              priceMax: search.priceMax,
              province: search.option1,
              city: search.value1,
              ratingMin: search.ratingMin,
              ratingMax: search.ratingMax,
            },
          });

          this.articles = response.data.data;
        } else {
          const response = await axios.get("http://localhost:3000/articles");
          this.articles = response.data.data;
        }

        console.log(this.articles);
      } catch (error) {
        console.error(error);
      }
    },

    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },
  created() {
    this.listArticles();
  },
};
</script>
<style scoped>
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modalBox {
  background-color: seashell;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #666;
}

.modalBox input {
  background: transparent;
  border: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
</style>

