<template>
  <div>
    <!--aplicamos el componente-->
    <listbuycomp :articles="articles" />
  </div>
</template>

<script>
//Importamos modulos necesarios
import axios from "axios";
import listbuycomp from "./../components/ListBuyComp";
import { getIdToken } from "../utils/utils";

export default {
  name: "ListBuyComp",
  components: {
    //declaramos la vista
    listbuycomp,
  },
  data() {
    return {
      articles: [],
    };
  },

  methods: {
    //conexion al Back
    async listBuy() {
      let token = localStorage.getItem("AUTH_TOKEN_KEY");
      axios.defaults.headers.common["Authorization"] = `${token}`;
      try {
        const response = await axios.get(
          `http://localhost:3000/articles/` + getIdToken(token) + `/buy`
        );

        this.articles = response.data.data;
        console.log(this.articles);
      } catch (error) {
        console.error(error);
      }
    },
  },
  created() {
    this.listBuy();
  },
};
</script>
