<template>
  <div>
    <h1>LOGIN</h1>
    <p>
      <input v-model="email" type="email" placeholder="escribe tu correo" />
    </p>
    <p>
      <input v-model="password" type="password" placeholder="escribe tu password" />
    </p>

    <p>
      <button @click="loginUserLocal()">Haz click aquí para entrar</button>
    </p>
    <router-link :to="{name: 'RecoveryPassword'}">Haz click aquí pra recuperar la contraseña</router-link>
    <p>
      <router-link to="/HomeUser" tag="button">redireccionara a pantalla home usuario</router-link>
      <router-link to="/ConfirmReserve" tag="button">vamos a confirmar reserva</router-link>
    </p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "LoginPage",
  data() {
    return {
      email: "",
      password: "",
    };
    console.log(email, password);
  },
  methods: {
    loginUserLocal() {
      if (this.email === "" || this.password === "") {
        alert("Te faltan datos");
      } else {
        var self = this;
        // LLAMADA DE AXIOS A LA API
        axios
          .post("http://localhost:3000/users/login", {
            email: self.email,
            password: self.password,
          })
          .then(function (response) {
            let token = response.data.data.token;
            localStorage.setItem("AUTH_TOKEN_KEY", token);

            // PARA QUE NO SALGA UN ERROR HACIENDO LOGIN
            setTimeout(() => {
              location.reload();
            }, 500);
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
  },
};
</script>

<style>
</style>