<template>
  <div>
    <h1>Formulario para añadir nuevo artículo:</h1>

    <p v-show="errorMsg">***Tienes campos vacíos***</p>
    <p>
      <input type="text" v-model="brand" placeholder="Marca" />
    </p>

    <p>
      <input type="text" v-model="category" placeholder="Categoría" />
    </p>

    <p>
      <input type="text" v-model="description" placeholder="Descripcioń" />
    </p>

    <p>
      <input type="text" v-model="price" placeholder="Precio" />
    </p>

    <p>
      <input type="text" v-model="province" placeholder="Provincia" />
    </p>

    <input type="file" ref="imagenArticulo1" @change="catchSeeArticle1" />
    <p>Nombre de la captura1: {{imagenArticulo1.name}}</p>

    <input type="file" ref="imagenArticulo2" @change="catchSeeArticle2" />
    <p>Nombre de la captura: {{imagenArticulo2.name}}</p>

    <input type="file" ref="imagenArticulo3" @change="catchSeeArticle3" />
    <p>Nombre de la captura: {{imagenArticulo3.name}}</p>

    <p>
      <button @click="validateData()">Añadir artículo</button>
    </p>
    <p>
      <router-link to="/editArticle" tag="button">Actualizar articulo</router-link>
    </p>
  </div>
</template>

<script>
import axios from "axios";
import { getIdToken } from "../utils/utils";

export default {
  name: "NewArticle",
  data() {
    return {
      brand: "",
      category: "",
      description: "",
      price: "",
      province: "",
      imagenArticulo1: "",
      imagenArticulo2: "",
      imagenArticulo3: "",
      createClient: false,
      errorMsg: false,
    };
  },
  methods: {
    validateData() {
      if (
        this.brand === "" ||
        this.category === "" ||
        this.description === "" ||
        this.price === "" ||
        this.province === "" ||
        this.imagenArticulo1 === "" ||
        this.imagenArticulo2 === "" ||
        this.imagenArticulo3 === ""
      ) {
        this.errorMsg = true;
        this.createArticle = false;
      } else {
        this.errorMsg = false;
        this.createArticle = true;
        this.addNewArticle();
      }
    },
    catchSeeArticle1() {
      this.imagenArticulo1 = this.$refs.imagenArticulo1.files[0];
      console.log(this.imagenArticulo1);
    },
    catchSeeArticle2() {
      this.imagenArticulo2 = this.$refs.imagenArticulo2.files[0];
      console.log(this.imagenArticulo2);
    },
    catchSeeArticle3() {
      this.imagenArticulo3 = this.$refs.imagenArticulo3.files[0];
      console.log(this.imagenArticulo3);
    },

    async addNewArticle() {
      if (this.createArticle === true) {
        try {
          let token = localStorage.getItem("AUTH_TOKEN_KEY");
          axios.defaults.headers.common["Authorization"] = `${token}`;
          console.log(formData);
          let formData = new FormData();
          formData.append("brand", this.brand);
          formData.append("category", this.category);
          formData.append("description", this.description);
          formData.append("price", this.price);
          formData.append("province", this.province);
          formData.append("processImage1", this.imagenArticulo1);
          formData.append("processImage2", this.imagenArticulo2);
          formData.append("processImage3", this.imagenArticulo3);
          const response = await axios.post(
            "http://localhost:3000/articles",
            formData,
            { header: { "Content-Type": "multipart/form-data" } }
          );
        } catch (error) {
          console.error(error);
        }
        this.createarticle = false;
        this.brand = "";
        this.category = "";
        this.description = "";
        this.price = "";
        this.province = "";
        this.imagenArticulo1 = "";
        this.imagenArticulo2 = "";
        this.imagenArticulo3 = "";
      } else {
        console.log("Algo va mal");
      }
    },
  },
};
</script>
<style scoped>
</style>

