<template>
  <div>
    <h1>Recuperación de la contraseña.</h1>
    <p>PASO 1: Pon tu cuenta de correo en el cuadro correspondoiente.</p>
    <p>Depués de pulsar el botón, recibirás un código en tu cuenta de correo</p>
    <p>que deberás introducir en la patalla que se abrirá al pulsar.</p>
    <p>
      <input v-model="email" type="email" placeholder="escribe tu correo" />
    </p>

    <p>
      <button @click="validateData()">Haz click aquí para recuperar tu contraseña</button>
    </p>
    <router-link :to="{name: 'CodeResetPassword'}">Crear redirección ha esta página que habre</router-link>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "RecoveryPassword",
  data() {
    return {
      email: "",
      createUser: "",
      errorMsg: false,
    };
  },
  methods: {
    validateData() {
      if (this.email === "") {
        alert("No puedes dejar campos vacios");
        this.createUser = false;
        this.errorMsg = true;
      } else {
        this.errorMsg = false;
        this.createUser = true;
        this.newPassword();
      }
    },
    //conexion al Back
    newPassword() {
      if (this.createUser === true) {
        var self = this;
        axios
          .post("http://localhost:3000/users/recovery-password", {
            email: self.email,
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log([error]);
          });
        this.createUser = false;
        this.email = "";
      } else {
        console.log("Algo no esta funcionando.");
      }
    },
  },
};
</script>

<style scoped>
</style>