<template>
  <div>
    <h1>Registro</h1>

    <p>
      <input v-model="email" type="email" placeholder="escribe tu correo" />
    </p>
    <p>
      <input v-model="password" type="password" placeholder="escribe tu password" />
    </p>
    <!--    <p>
      <input type="password" placeholder="repite tu password" />
    </p>-->
    <p>
      <button @click="validateData()">Haz click para registrarte</button>
    </p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "RegistredPage",
  data() {
    return {
      email: "",
      password: "",
      createUser: "",
      errorMsg: false,
    };
  },
  methods: {
    validateData() {
      if (this.email === "" || this.password === "") {
        alert("No puedes dejar campos vacios");
        this.errorMsg = true;
        this.createUser = false;
      } else {
        this.errorMsg = false;
        this.createUser = true;
        this.newUser();
      }
    },
    //conexion al Back
    newUser() {
      if (this.createUser === true) {
        var self = this;
        axios
          .post("http://localhost:3000/users", {
            email: self.email,
            password: self.password,
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log([error]);
          });
        this.createUser = false;
        this.email = "";
        this.password = "";
      } else {
        console.log("Algo no esta funcionando.");
      }
    },
  },
};
</script>

<style scoped>
</style>