<template>
  <div>
    <h1>Vas ha realizar un cambio de contraseña.</h1>

    <p>
      <input v-model="oldPassword" type="password" placeholder="password antigua" />
    </p>
    <p>
      <input v-model="newPassword" type="password" placeholder="nueva password password" />
    </p>
    <!--    <p>
      <input type="password" placeholder="repite tu password" />
    </p>-->
    <p>
      <button @click="validateData()">Haz click para aquí para cambiar tu contaseña</button>
    </p>
  </div>
</template>

<script>
import axios from "axios";
import { getAuthToken } from "../utils/utils";
import { getIdToken } from "../utils/utils";

export default {
  name: "ResetPassword",
  data() {
    return {
      oldPassword: "",
      newPassword: "",
      createPassword: "",
      errorMsg: false,
    };
  },
  methods: {
    validateData() {
      if (this.oldPassword === "" || this.newPassword === "") {
        alert("No puedes dejar campos vacios");
        this.errorMsg = true;
        this.createPassword = false;
      } else {
        this.errorMsg = false;
        this.createPassword = true;
        this.passwordChage();
      }
    },
    //conexion al Back
    async passwordChage() {
      if (this.createPassword === true) {
        try {
          let token = localStorage.getItem("AUTH_TOKEN_KEY");
          axios.defaults.headers.common["Authorization"] = `${token}`;

          const response = await axios.post(
            "http://localhost:3000/users/" + getIdToken(token) + "/password/",
            {
              oldPassword: this.oldPassword,
              newPassword: this.newPassword,
            }
          );
        } catch (error) {
          console.error(error);
        }
        this.createPassword = false;
        this.oldPassword = "";
        this.newPassword = "";
      } else {
        console.log("Algo no esta funcionando.");
      }
    },
  },
};
</script>

<style scoped>
</style>