<template>
  <div>
    <h1>Vota el artículo que compraste recientemente.</h1>
    <ul>
      <li>id {{ article.id }}</li>
      <li>Categoria {{ article.category }}</li>
      <li>Marca: {{ article.brand }}</li>
      <li>Descripción: {{ article.description }}</li>
      <li>Precio: {{ article.price }} €</li>
      <li>Provincia: {{ article.province }}</li>
      <li>Ciudad: {{ article.city }}</li>
      <li>Valoración: {{ article.user_rating}}</li>

      <li>
        <img :src="getImageName(article.image1)" />

        <img :src="getImageName(article.image2)" />

        <img :src="getImageName(article.image3)" />
      </li>

      <li>
        <p>Introduce la valoración entre 1 y 5 a tu vendedor:</p>
        <input type="number" placeholder="voto" v-model="vote" />
      </li>

      <li>
        <button @click="createdVote(articleId)">Confirmar voto</button>
      </li>
      <router-link to="/login" tag="button">redirecciona al login.</router-link>
      <router-link to="/ConfirmReserve" tag="button">vuelve a confirmar reserva.</router-link>
    </ul>
  </div>
</template>

<script>
//Importamos modulos necesarios
import { getIdToken } from "../utils/utils";
import axios from "axios";

export default {
  name: "ConfirmReserve",
  components: {},
  data() {
    return {
      article: {},
      articleId: "",
      vote: "",
    };
  },

  methods: {
    async createdVote(articleId) {
      try {
        let token = localStorage.getItem("AUTH_TOKEN_KEY");
        axios.defaults.headers.common["Authorization"] = `${token}`;

        const response = await axios.post(
          `http://localhost:3000/articles/${articleId}/vote/`,
          {
            vote: this.vote,
          }
        );
      } catch (error) {
        console.log(error);
      }
    },

    //conexion al Back
    async listArticle() {
      try {
        let url = window.location.href;
        let [, id] = url.split("?");
        this.articleId = id;

        const response = await axios.get("http://localhost:3000/articles");
        let allArticle = response.data.data;
        for (const article of allArticle) {
          if (article.id === Number(this.articleId)) {
            this.article = article;
          }
        }

        console.log(response);
      } catch (error) {
        console.error(error);
      }
    },

    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },
  created() {
    this.listArticle();
  },
};
</script>
<style scoped>
</style>

