<template>
  <div>
    <h1>Lista de productos</h1>
    <ul v-for="article in articles" :key="article.id">
      <li>{{article.imagen}}</li>
      <li>{{article.nombre}}</li>
      <li>{{article.stock}}</li>
      <li>{{article.disponibilidad}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ListArticlesComponent",
  props: {
    articles: Array,
  },
};
</script>

<style>
</style>
