<template>
  <div>
    <footer>2020 Bostaaaaaaaaaaaaaaaa</footer>
  </div>
</template>

<script>
export default {
  name: "FooterCustom"
};
</script>

<style>
footer {
  color: rgb(68, 153, 51);
}
</style>