<template>
  <div>
    <!--comentario-->
    <div id="nav">
      <router-link :to="{ name: 'Home' }">Home |</router-link>
      <router-link :to="{ name: 'About' }">About |</router-link>
      <router-link :to="{ name: 'Collection' }">Collection |</router-link>
      <router-link :to="{ name: 'Cars' }">Cars</router-link>
    </div>
  </div>
</template>

<script>
//comentario
export default {
  name: "MenuCustom"
};
</script>

<style scoped>
/*comntario*/
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>