<template>
  <div>
    <ul>
      <li v-for="(statue, index) in statues" :key="statue.id">
        <p>{{statue.nombre}}</p>
        <img :src="statue.url" />
        <p>Diseñado por:</p>
        <p>{{statue.designer}}.</p>
        <p>Fotografía de: {{statue.photographer}}.</p>
        <button @click="seeAlert(index)">Nombre</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Pictures",
  props: {
    statues: Array
  },
  methods: {
    seeAlert(index) {
      this.$emit("seeAlert", index);
    }
  }
};
</script>

<style scoped>
</style>>

