<template>
  <div>
    <h1>Lista de artículos</h1>
    <ul v-for="(article, index) in articles" :key="article.id">
      <li>Marca: {{ article.brand }}</li>
      <li>Categoria {{ article.category }}</li>
      <li>Descripción: {{ article.description }}</li>
      <li>Precio: {{ article.price }} €</li>
      <li>Provincia: {{ article.province }}</li>

      <li>
        <img :src="getImageName(article.image1)" />

        <img :src="getImageName(article.image2)" />

        <img :src="getImageName(article.image3)" />
      </li>
      <li>
        <button @click="sendDataArticle(index)">Editar datos del artículo</button>
        <button @click="sendIndexArticle(index)">Borrar Artículo</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "EditArticlesComp",
  props: {
    articles: Array,
  },
  methods: {
    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },

    sendDataArticle(index) {
      let dataArticle = this.articles[index];
      console.log(dataArticle);
      this.$emit("data", dataArticle);
    },

    sendIndexArticle(index) {
      let indexArticle = this.articles[index].id;
      this.$emit("delete", indexArticle);
    },
  },
};
</script>

<style></style>
