<template>
  <div>
    <footer>
      SHOPTEC copyright 2020.
      <h5>Página que pone en contacto a personas para la venta de tecnología.</h5>
    </footer>
  </div>
</template>

<script>
export default {
  name: "FooterComp",
};
</script>

<style scoped>
footer {
  margin-bottom: 1.5rem;
}
</style>