<template>
  <div>
    <router-link to="/ConfirmReserve" tag="button">redirecciona al confirmar reserva</router-link>
    <!--creamos la lista de productos con un botoón de reserva-->
    <h3>Buscador</h3>
    <label>Categoría</label>
    <select name="searcherCategory" v-model="criterio" id="category">
      <option value selected></option>
      <option value="Televisión">Televisón</option>
      <option value="Ordenador">Ordenadores, CPU</option>
      <option value="monitor">Monitores PC</option>
      <option value="smartphone">Smartphone</option>
    </select>

    <label>Marca</label>
    <input type="search" v-model="searchArticle" placeholder="Marca" />

    <label>Precio.</label>
    <input type="number" name="priceMin" v-model="priceMin" placeholder="Precio mínimo" />
    <input type="number" name="priceMax" v-model="priceMax" placeholder="Precio máximo" />

    <label>Provincia</label>
    <select name="searcherProvince" v-model="criterio1" id="province">
      <option value selected></option>
      <option value="A Coruña">A Coruña</option>
      <option value="Vigo">Vigo</option>
      <option value="Lugo">Lugo</option>
      <option value="Ourense">Ourense</option>
    </select>

    <label>Ciudad</label>
    <input type="search" v-model="searchArticle1" placeholder="Población" />

    <label>Valoración media.</label>
    <input type="number" name="ratingMin" v-model="ratingMin" placeholder="Valoración mínimo" />
    <input type="number" name="ratingMax" v-model="ratingMax" placeholder="Valoración máximo" />

    <p>
      <button @click="searchBy()">Buscar</button>
    </p>

    <ul id="searchBy">
      <li v-for="article in articles" :key="article.id">
        <p>Categoria: {{ article.category }}</p>
        <p>Marca: {{ article.brand }}</p>
        <p>Descripción: {{ article.description }}</p>
        <p>Precio: {{ article.price }} €</p>
        <p>Vendedor: {{ article.name }}</p>
        <p>Provincia: {{ article.province }}</p>
        <p>Ciudad: {{ article.city }}</p>
        <p>Valoración vendedor: {{article.user_rating}}</p>
        <p>
          <img :src="getImageName(article.image1)" />

          <img :src="getImageName(article.image2)" />

          <img :src="getImageName(article.image3)" />
        </p>

        <p>
          <router-link to="/" tag="button">Reservar</router-link>
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ListArticlesComp",
  props: {
    articles: Array,
  },
  data() {
    return {
      criterio: "",
      criterio1: "",
      searchArticle: "",
      searchArticle1: "",
      priceMin: null,
      priceMax: null,
      ratingMin: null,
      ratingMax: null,
    };
  },

  methods: {
    clearField() {
      this.value = "";
      this.searchArticle = "";
      this.searchArticle1 = "";
      this.priceMin = "";
      this.priceMax = "";
      this.ratingMin = "";
      this.ratingMax = "";
    },
    searchBy() {
      let search = {
        option: this.criterio,
        option1: this.criterio1,
        value: this.searchArticle,
        value1: this.searchArticle1,
        priceMin: this.priceMin,
        priceMax: this.priceMax,
        ratingMin: this.ratingMin,
        ratingMax: this.ratingMax,
      };
      console.log(searchBy);
      this.$emit("listArticle", search);
    },

    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },
};
</script>

<style></style>
