<template>
  <div>
    <router-link to="/HomeUser" tag="button">Volver atrás</router-link>
    <!--creamos la lista de productos con un botoón de reserva-->
    <h1>Lista de artículos comprados</h1>
    <ul v-for="article in articles" :key="article.id">
      <li>Fecha de Reserva: {{ article.reservation_date }}</li>
      <li>Código de Reserva: {{ article.reservation_code }}</li>
      <li>Categoria {{ article.category }}</li>
      <li>Marca {{ article.brand }}</li>
      <li>Descripción: {{ article.description }}</li>
      <li>Precio: {{ article.price }} €</li>
      <li>Valoración: {{ article.rating }}</li>
      <li>Vendedor: {{ article.name }}</li>
      <li>Valorción: {{article.rating}}</li>
      <p>
        <img :src="getImageName(article.image1)" />

        <img :src="getImageName(article.image2)" />

        <img :src="getImageName(article.image3)" />
      </p>
    </ul>
    <router-link to="/HomeUser" tag="button">Volver atrás</router-link>
  </div>
</template>

<script>
export default {
  name: "ListBuyComp",
  props: {
    articles: Array,
  },
  methods: {
    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },
};
</script>

<style></style>
