<template>
  <div>
    <h1>Listado de artículos</h1>
    <ul v-for="(article, index) in articles" :key="article.id">
      <li>Categoria {{ article.category }}</li>
      <li>Marca: {{ article.brand }}</li>
      <li>Descripción: {{ article.description }}</li>
      <li>Precio: {{ article.price }} €</li>
      <li>Provincia: {{ article.province }}</li>
      <li>Vendedor: {{ article.name }}</li>
      <li>Valoración: {{ article.user_rating}}</li>

      <li>
        <img :src="getImageName(article.image1)" />

        <img :src="getImageName(article.image2)" />

        <img :src="getImageName(article.image3)" />
      </li>

      <li>
        <button @click="sendDataReserve(index)">Haz click aquí para reservar</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ReserveComp",
  props: {
    articles: Array,
  },

  methods: {
    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },

    sendDataReserve(index) {
      let dataArticle = this.articles[index];
      console.log(dataArticle);
      this.$emit("data", dataArticle);
    },
  },
};
</script>

<style></style>
