@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  --font: Montserrat, sans-serif;
}

body {
  font-family: var(--font);
  max-width: 600px;
  margin: 0 auto;
}

body > header {
  text-align: center;
  margin: 1rem 1rem;
}

.action {
  border: 0.5px solid lightskyblue;
  background-color: lightskyblue;
  margin-left: 0.5rem;
  padding: 0.35rem;
}

form {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

form input {
  border: 1px solid lightslategrey;
  font-family: var(--font);
}

ul#tweets {
  list-style: none;
  margin: 1rem;
}
ul#tweets li footer {
  display: flex;
  margin-bottom: 0.5rem;
}

ul#tweets li footer time {
  flex-grow: 1;
  font-weight: bold;
  margin-top: 0.75rem;
}

@media (min-width: 500px) {
  html {
    font-size: 24px;
  }

  form input {
    font-size: 0.75rem;
  }

  .action {
    font-size: 0.75rem;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 28px;
  }

  .action {
    font-size: 0.75rem;
  }
}
