<template>
  <div id="app">
    <!--3º declarar componente-->
    <menucustom />

    <router-view />
    <footercustom />
  </div>
</template>

<script>
//1º Importar componente
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";

export default {
  name: "App",
  //2º registrar el componente
  components: {
    menucustom,
    footercustom
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
