<template>
  <div>
    <h1>Editar productos</h1>
    <div class="colum">
      <ul>
        <li v-for="(article, index) in articles" :key="article.id">
          <img :src="article.imagen" />
          <p>Nombre: {{article.nombre}}</p>
          <p>Stock: {{article.stock}}</p>
          <p>Disponibilidad: {{article.disponibilidad}}</p>
          <p>
            <button class="boton" @click="sendArticleData(index)">Editar artículo</button>

            <button
              class="boton"
              @click="sendIndexIdArticle(index), deleteArticleSweetalert()"
            >Eliminar artículo</button>
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "EditArticlesComponent",
  props: {
    articles: Array,
  },
  methods: {
    sendArticleData(index) {
      let articleData = this.articles[index];
      this.$emit("dataArticle", articleData);
    },
    sendIndexIdArticle(index) {
      let indexIdArticle = this.articles[index].id;
      this.$emit("deleteArticle", indexIdArticle);
    },
    deleteArticleSweetalert() {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "El artículo ha sido editado correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },
  },
};
</script>

<style scoped>
img {
  width: 300px;
}

li {
  width: 25rem;
  height: 35rem;
}

button {
  background-color: mediumspringgreen;
  border-radius: 50px;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 4rem 1rem;
  width: 125px;
}
</style>
