<template>
  <div>
    <vue-headful title="This is Music Last.FM | Home" />
    <toptagcomp :isTags="isTags" />
    <button class="buttonSweet" @click="sweetalertmessage">Más estios</button>
  </div>
</template>

<script>
import api from "@/api/index.js";
import toptagcomp from "@/components/TopTagComp.vue";
import Swal from "sweetalert2";

export default {
  name: "Home",
  components: {
    toptagcomp
  },
  data() {
    return {
      isTags: []
    };
  },
  methods: {
    sweetalertmessage() {
      Swal.fire({
        title: "Music!",
        text: "The music is Last.FM",
        imageUrl:
          "https://www.last.fm/static/images/lastfm_logo_facebook.15d8133be114.png",
        imageWidth: 400,
        imageHeight: 200,
        imageAlt: "icono"
      });
    }
  },
  created() {
    api.getTags().then(response => (this.isTags = response.data.tags.tag));
  }
};
</script>

<style scoped>
</style>