<template>
  <div class="home">
    <vue-headful title="Notas para el autor | Home" />
    <h1>Notas:</h1>
    <todaslasnotas
      v-on:datos="recibirNota"
      v-on:borrar="borrarNota"
      :notas="notas"
    />

    <h2>Actualiza tu nota</h2>

    <input type="text" v-model="nuevoTexto" placeholder="Tu nuevo Texto" />
    <button @click="actualizaNota(), sweetalertrActualizaNota()">
      Actualiza la nota
    </button>
    <br />
    <br />
    <h2>Crea tu nota al autor</h2>
    <br />
    <button @click="addNote(), sweetalertAddNote()">crear nota</button>
    <br />
    <br />
    <input v-model="titulo" type="text" placeholder="eltitulo de la nota" />
    <br />
    <input v-model="texto" type="text" placeholder="El texto de la nota" />
    <br />
    <input v-model="autor" type="text" placeholder="El autor de la nota" />
  </div>
</template>

<script>
import axios from "axios";
import todaslasnotas from "@/components/TodasLasNotas.vue";
import Swal from "sweetalert2";

export default {
  name: "Home",
  components: {
    todaslasnotas,
  },
  data() {
    return {
      titulo: "",
      texto: "",
      autor: "",
      notas: [],
      nuevoTexto: "",
      notaId: null,
    };
  },
  methods: {
    //**************************************************************
    borrarNota(indice) {
      var self = this;
      let idBorrar = indice;
      axios
        .delete("http://localhost:3050/notas/delete/" + idBorrar, {
          id: idBorrar,
        })
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
      Swal.fire({
        position: "top-end",
        icon: "success",
        title: "Tu nota ha sido guardada correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },

    //***************************************************************
    actualizaNota() {
      var self = this;
      axios
        .put("http://localhost:3050/notas/update/" + this.notaId, {
          texto: self.nuevoTexto,
          id: self.notaId,
        })
        .then(function(response) {
          console.log(response);
          location.reload();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    sweetalertrActualizaNota() {
      Swal.fire({
        position: "top-end",
        icon: "success",
        title: "Tu nota ha sido actualizada correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },
    //*************************************************************
    recibirNota(datosNota) {
      console.log("fdjkfah" + datosNota);
      this.nuevoTexto = datosNota.texto;
      this.notaId = datosNota.id;
    },
    //*************************************************************
    addNote() {
      var self = this;
      axios
        .post("http://localhost:3050/notas/add", {
          texto: self.texto,
          titulo: self.titulo,
          autor: self.autor,
        })
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    sweetalertAddNote() {
      Swal.fire({
        position: "top-end",
        icon: "success",
        title: "Tu nota ha sido guardada correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },
    //******************************************************************
    getAllNotes() {
      var self = this;
      axios
        .get("http://localhost:3050/notas")
        .then(function(response) {
          self.notas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
  },
  //*****************************************************************
  created() {
    this.getAllNotes();
  },
};
</script>
