<template>
  <div>
    <editarticlescomponent
      :articles="articles"
      v-on:dataArticle="seeInfoArticle"
      v-on:deleteArticle="deleteArticle"
    />
    <div v-show="seeModal" class="modal">
      <div class="modalBox">
        <h3>Editar artículos</h3>
        <p>Datos del artículo: {{idArticle}}</p>
        <p>
          <input type="text" placeholder="Artículo " v-model="updateName" />

          <input type="text" placeholder="Stock" v-model="updateStock" />

          <input type="text" placeholder="Disponibilidad" v-model="updateDisponibilidad" />

          <input type="url" placeholder="Ruta imagen" v-model="updateImagen" />
        </p>
        <p>
          <button @click="canceleditArticleSweetalert(), seeModal =! seeModal">Cancelar</button>

          <button @click="updateArticle()">Actualizar artículo</button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import editarticlescomponent from "@/components/EditArticlesComponent.vue";
import Swal from "sweetalert2";

export default {
  name: "EditArticle",
  components: {
    editarticlescomponent,
  },
  data() {
    return {
      articles: [],
      idArticle: "",
      updateName: "",
      updateStock: "",
      updateDisponibilidad: "",
      updateImagen: "",
      seeModal: false,
    };
  },
  methods: {
    canceleditArticleSweetalert() {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "¡¡¡Has cancelado la edición de datos!!!",
      });
    },
    deleteArticle(indexIdArticle) {
      var self = this;
      axios
        .delete("http://localhost:3050/delete/" + indexIdArticle)
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateArticle() {
      var self = this;
      axios
        .put("http://localhost:3050/editArticle/" + self.idArticle, {
          nombre: self.updateName,
          stock: self.updateStock,
          disponibilidad: self.updateDisponibilidad,
          imagen: self.updateImagen,
        })
        .then(function (response) {
          console.log(respoonse);
        })
        .catch(function (error) {
          console.log(error);
        });
      Swal.fire({
        position: "center",
        icon: "success",
        title: "El artículo ha sido editado correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },
    seeInfoArticle(articleData) {
      this.idArticle = articleData.id;
      this.updateName = articleData.nombre;
      this.updateStock = articleData.stock;
      this.updateDisponibilidad = articleData.disponibilidad;
      this.updateImagen = articleData.imagen;

      this.seeModal = true;
    },
    getarticles() {
      var self = this;

      axios
        .get("http://localhost:3050/articles")
        .then(function (response) {
          self.articles = response.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  created() {
    this.getarticles();
  },
};
</script>

<style scoped>
input {
  text-align: center;
  border-radius: 50px;
  font-size: 1.25rem;
  margin: 1rem;
  padding: 0.15rem;
  width: 125px;
  height: 25px;
}

button {
  background-color: mediumspringgreen;
  border-radius: 50px;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
  width: 125px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modalBox {
  font-size: 1rem;
  background-color: seashell;
  margin: 2% auto;
  padding: 3rem;
  width: 30%;
  border: 1px solid #666;
}
</style>