<template>
  <div>
    <vue-headful title="Horrorrr!!! | Error" />
    <h1>Uuuy. Te has perdido. En esta página no tenemos lo que buscas</h1>
  </div>
</template>

<script>
export default {
  name: "Error",
};
</script>

<style scoped>
</style>