<template>
  <div class="home">
    <vue-headful title="Home" />
    <h1 class="titulo">BIENVENIDO A HACK A MARQUET</h1>
  </div>
</template>

<script>
import homecomponent from "../components/HomeComponent.vue";

export default {
  name: "HomeView",
  components: {
    homecomponent,
  },
};
</script>
<style >
.titulo {
  background-color: mediumaquamarine;
  margin: 10rem;
  font-size: 4.5rem;
  margin-bottom: 20rem;
}
body {
  width: 100%;
  background-image: url("../assets/home.jpg");
  background-size: cover;
}
</style>