<template>
  <div>
    <vue-headful title="Lista de artículos" />
    <listarticlescomponent :articles="articles" />
  </div>
</template>

<script>
import axios from "axios";
import listarticlescomponent from "@/components/ListArticlesComponent.vue";

export default {
  name: "ListArticles",
  components: {
    listarticlescomponent,
  },
  data() {
    return {
      articles: [],
      idArticle: "",
      updateName: "",
      updateStock: "",
      updateDisponibilidad: "",
      updateImagen: "",
      seeModal: false,
    };
  },
  methods: {
    getArticles() {
      var self = this;

      axios
        .get("http://localhost:3050/articles")
        .then(function (response) {
          self.articles = response.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  created() {
    this.getArticles();
  },
};
</script>

<style scoped>
li {
  height: 40rem;
}
</style>