<template>
  <div>
    <vue-headful title="Registro usuario" />
    <h1>Crear nuevo usuarios.</h1>

    <p v-show="errorMsg">!!!Tienes campos vácios¡¡¡</p>
    <p>
      <input type="text" v-model="nombre" placeholder="Tú nombre" />
    </p>
    <p>
      <input type="text" v-model="usuario" placeholder="Nombre de usuario" />
    </p>
    <p>
      <input type="text" v-model="password" placeholder="Una conraseña" />
    </p>
    <p>
      <input type="email" v-model="email" placeholder="Tu correo" />
    </p>
    <p>
      <input type="text" v-model="foto" placeholder="La ruta de tu foto" />
    </p>

    <p>
      <button @click="addUserData()">Crear usuario</button>
    </p>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "NewUser",
  data() {
    return {
      nombre: "",
      usuario: "",
      password: "",
      email: "",
      foto: "",
      createUser: false,
      errorMsg: false,
    };
  },
  methods: {
    addUserData() {
      if (
        this.nombre === "" ||
        this.usuario === "" ||
        this.password === "" ||
        this.email === "" ||
        this.foto == ""
      ) {
        this.errorMsg = true;
        this.createUser = false;
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡¡¡Has dejado campos vácios!!!",
        });
      } else {
        this.errorMsg = false;
        this.createUser = true;
        this.addUser();
        Swal.fire({
          position: "center",
          icon: "success",
          title: "El usuario se ha creado correctamente",
          showConfirmButton: false,
          timer: 2000,
        });
      }
    },
    addUser() {
      if (this.createUser === true) {
        var self = this;
        axios
          .post("http://localhost:3050/add", {
            nombre: self.nombre,
            usuario: self.usuario,
            password: self.password,
            email: self.email,
            foto: self.foto,
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
        this.createUser = false;
        this.nombre = "";
        this.usuario = "";
        this.password = "";
        (this.email = ""), (this.foto = "");
      } else {
        console.log("Ago no funciona!!!!!!");
      }
    },
  },
};
</script>

<style scoped>
input {
  text-align: center;
  border-radius: 50px;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.15rem;
  width: 250px;
  height: 40px;
}

button {
  background-color: mediumspringgreen;
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 265px;
}
</style>