<template>
  <div>
    <h1>Los más escuchados de Last.FM.</h1>
    <input class="button" type="search" v-model="search" placeholder="Buscar por artista" />
    <ul>
      <li v-for="artist in filtered" :key="artist.id">
        <img class="image" :src="artist.image[2]['#text']" />
        <h2>
          Artista
          : {{artist.name}}
        </h2>
        <p>
          Oyentes
          :{{artist.listeners}}
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TopArtistComp",

  props: {
    artists: Array
  },
  data() {
    return {
      search: ""
    };
  },
  computed: {
    filtered() {
      if (!this.search) {
        return this.artists;
      }
      return this.artists.filter(artist =>
        artist.name.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  }
};
</script>

<style >
</style>