<template>
  <div>
    <footer>Hack A Music copyright 2020. This is the music.</footer>
  </div>
</template>

<script>
export default {
  name: "TopFooter",
};
</script>

<style scoped>
footer {
  margin-bottom: 1.5rem;
}
</style>