@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  --black: #222222;
  --white: #ffffff;
  --blue: #2cbae6;

  --font: "Roboto", sans-serif;
}
/* formato imagenes */
img {
  border-radius: 50%;
  border: 10px solid var(--black);
}

/* body */

body {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: (1, auto);
  grid-template-rows: (4, auto);
}

/* grid de header */

body > header {
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;

  grid-column: 1;
  grid-row: 1 / 2;
}

body > header h1 {
  color: var(--black);
  font-family: var(--font);
  font-weight: 900;
  text-align: center;
  padding: 2rem;
}

body > header a {
  color: var(--black);
  font-family: var(--font);
  text-align: center;
  text-decoration: none;
  margin-bottom: 1rem;
}

/* Alineación imagenes */

body > header figure {
  text-align: center;
}

/* grid de section principal */

.principal {
  grid-column: 1;
  grid-row: 2 / 3;
}

body > section p {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);
  font-weight: 300;
  padding: 1rem;
}
section#principal p:nth-child(2) {
  margin-bottom: 2rem;
}

a.button {
  background-color: var(--blue);
  color: var(--black);
  font-family: var(--font);
  text-decoration: none;
  font-weight: 700;
  width: 4rem;
  height: 1.25rem;
  padding: 0.75rem;
  margin-left: 1rem;
}

/* grid de section experiences */

.experience {
  grid-column: 1;
  grid-row: 3 / 4;
}

body > section h2 {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);
  font-size: 1.25rem;
  margin: 1.25rem;
  margin-top: 1rem;
}

/* lista de experiences */

body > section ul {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);
  font-size: 500;
  margin-left: 2.25rem;
  padding: 1rem;
}

/* footer */

footer {
  grid-column: 1;
  grid-row: 4 / 5;
}

/* navegación footer */

footer nav {
  position: absolute;
  width: 100%;
  height: 3rem;
  top: 0;
}

footer nav ul {
  background-color: var(--black);
  height: 2.5rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer nav ul li a {
  color: var(--blue);
  font-family: var(--font);
  font-size: 1.25rem;
  text-decoration: none;
  margin: 0.5rem 0.5rem;
  padding: 0.75rem;
}
/*------------About.html-----------------*/

/* formato imagen */

.image {
  width: 95%;
  border-radius: 0%;
  border: 0;
  margin-left: 1rem;
}

.about {
  align-items: center;
}

.about a {
  text-align: center;
}

.about h1 {
  margin-left: 1.5rem;
}
/*------------Fin About.html-----------------*/
/*---------media query 600px-----------------*/

@media (min-width: 600px) {
  /*cambiamos el tamaño texto*/
  html {
    font-size: 20px;
  }

  /* creamos nueva grid header */
  body {
    display: grid;
    grid-template-columns: 2, auto;
    grid-template-rows: 2, auto;

    grid-template-areas:
      "footer footer footer"
      "header header header"
      "principal principal experiences";
  }
  /* grid header */
  body > header {
    grid-area: header;
  }

  /* grid principal */
  .principal {
    grid-area: principal;
  }

  body > section p {
    margin-left: 0rem;
  }

  body > section a {
    margin-left: 1rem;
  }

  /* grid experiences */
  .experience {
    grid-area: experiences;
  }

  body > section h2 {
    margin-top: 4rem;
  }
  /* grid footer */

  footer {
    grid-area: footer;
  }
}
/*---------Fin media query 600px--------------*/
/*--------------media query 1000px-----------*/

@media (min-width: 1000px) {
  /* cambiamos el tamaño de texto */
  html {
    font-size: 22px;
  }
  /* imagen */
  body > header > figure {
    text-align: right;
  }

  /* creamos nueva grid header */
  body {
    grid-template-areas:
      "footer footer footer"
      "header principal experiences"
      "header principal experiences";
  }
  /* grid header */
  body > header {
    grid-area: header;
  }

  body > header h1 {
    text-align: right;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  body > header a {
    font-size: 1rem;
    text-align: right;
  }

  /* grid principal */
  .principal {
    grid-area: principal;
  }

  body > section p {
    padding-top: 2.5rem;
    margin-bottom: 0;
  }

  section#principal p:nth-child(2) {
    margin-top: -1rem;
  }

  /* grid experiences */
  .experience {
    grid-area: experiences;
  }

  /* grid footer */

  footer {
    grid-area: footer;
  }
}
/*--------------media query 1000px-----------*/
