<template>
  <div class="about">
    <vue-headful title="Sobre este proyecto" />
    <p>
      Me llamo Oscar, estoy empezando ha aprender a utilizar Vue, este es
      otro proyecto, en este caso he creado esta página de comercio con los
      conocimientos adquiridos en el BootCamp de Hack A Boss.
    </p>

    <h1>Para la construcción de la web hackamarquet he utilizado:</h1>
    <ul>
      <li>Librería AXIOS. Para exportar los datos de la API.</li>
      <li>Librería nodemon. Para monitorizar errores y bugs del código.</li>
      <li>Librería mysql. Para conectar y sincronizar con la base de datos SQL.</li>
      <li>Hemos empleado SweetAlert2. Para crear botones personalizado.</li>
      <li>Vue-Headfull. Para crear la meta del proyecto de esta página web.</li>
      <li>CSS. Para ralizar el diseño de la web.</li>
      <li>Y mucha paciencia de Desiré, para terminar esta web.</li>
    </ul>
  </div>
</template>
<style scoped>
div {
  margin: 3rem;
}

p {
  background-color: rgb(179, 241, 238);
  margin: 4rem 1rem;
}

h1 {
  margin: 1.5rem;
}
</style>