<template>
  <div>
    <vue-headful title="Registro artículos" />
    <h1>Crear nuevo artículo.</h1>

    <p v-show="errorMsg">!!!Tienes campos vácios¡¡¡</p>
    <p>
      <input type="text" v-model="nombre" placeholder="Artículo" />
    </p>
    <p>
      <input type="text" v-model="stock" placeholder="Stock actual" />
    </p>
    <p>
      <input type="text" v-model="disponibilidad" placeholder="Disponibilidad" />
    </p>
    <p>
      <input type="text" v-model="imagen" placeholder="La ruta de tu imagen" />
    </p>
    <p>
      <button @click="addArticleData(), createArticleSweetalert()">Crear artículo</button>
    </p>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "NewArticle",
  data() {
    return {
      nombre: "",
      stock: "",
      disponibilidad: "",
      imagen: "",
      createArticle: false,
      errorMsg: false,
    };
  },
  methods: {
    createArticleSweetalert() {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "El artículo se ha creado correctamente",
        showConfirmButton: false,
        timer: 2000,
      });
    },
    addArticleData() {
      if (
        this.nombre === "" ||
        this.stock === "" ||
        this.disponibilidad === "" ||
        this.imagen == ""
      ) {
        this.errorMsg = true;
        this.createArticle = false;
      } else {
        this.errorMsg = false;
        this.createArticle = true;
        this.addArticle();
      }
    },
    addArticle() {
      if (this.createArticle === true) {
        var self = this;
        axios
          .post("http://localhost:3050/addArticle", {
            nombre: self.nombre,
            stock: self.stock,
            disponibilidad: self.disponibilidad,
            imagen: self.imagen,
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
        this.createArticle = false;
        this.nombre = "";
        this.stock = "";
        this.disponibilidad = "";
        this.imagen = "";
      } else {
        console.log("Ago no funciona!!!!!!");
      }
    },
  },
};
</script>

<style scoped>
input {
  text-align: center;
  border-radius: 50px;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.15rem;
  width: 250px;
  height: 40px;
}

button {
  background-color: mediumspringgreen;
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 265px;
  margin-bottom: 6rem;
}
</style>