<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name: 'Registro'}">_Registro usuarios_</router-link>|
      <router-link :to="{name: 'Login'}">_Login_</router-link>|
      <router-link :to="{name: 'Home'}">_Home_</router-link>|
      <router-link :to="{name: 'EditUser'}">_Editar Usuario_</router-link>|
      <router-link :to="{name: 'NewArticle'}">_Nuevo Artículo_</router-link>|
      <button @click="logoutUser()">logout</button>
    </div>
    <router-view />
    <footercomp />
  </div>
</template>

<script>
import footercomp from "@/components/FooterComp.vue";
import { isLoggedIn } from "./utils/utils";
import { logout } from "./utils/utils";

export default {
  name: "App",
  components: {
    footercomp,
  },
  methods: {
    logoutUser() {
      logout();
      this.$router.push("/");
      location.reload();
    },
    getLogin() {
      this.logged = isLoggedIn();
    },
  },
};
</script>
<style>
footer {
  margin-top: 25rem;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
