<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{ name: 'About' }">Sobre mí</router-link> |
      <router-link :to="{ name: 'ListTeam' }">Equipos</router-link> |
      <router-link :to="{ name: 'ListPlayer' }">Jugadores</router-link> |
      <router-link :to="{ name: 'NewTeam' }">Añadir equipos</router-link> |
      <router-link :to="{ name: 'NewPlayer' }">Añadir jugadores</router-link> |
      <router-link :to="{ name: 'EditTeam' }">Editar equipos</router-link> |
      <router-link :to="{ name: 'EditPlayer' }">Editar jugadores</router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
@import "./css/style.css";
</style>
