<template>
    <div class="row justify-content-md-center">
        <div class="col col-5">
            <div>
                <div class="form-group">
                    <label for="username-create">Nombre de usuario</label>
                    <input v-model="createdUser.username" type="email" class="form-control" id="username-create">
                </div>
                <div class="form-group">
                    <label for="first-name-create">Nombre</label>
                    <input v-model="createdUser.first_name" type="text" class="form-control" id="first-name-create">
                </div>
                <div class="form-group">
                    <label for="last-name-create">Apellidos</label>
                    <input v-model="createdUser.last_name" type="text" class="form-control" id="last-name-create">
                </div>
                <div class="form-group">
                    <label for="email-create">Email</label>
                    <input v-model="createdUser.email" type="email" class="form-control" id="email-create">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1-create">Password</label>
                    <input v-model="createdUser.password" type="password" class="form-control" id="exampleInputPassword1-create">
                </div>
                <div class="form-group form-check">
                    <input v-model="createdUser.is_staff" type="checkbox" class="form-check-input" id="is-staff-create">
                    <label class="form-check-label" for="is-staff-create">Es administrador</label>
                </div>
                <button type="submit" class="btn btn-info mr-3" @click="createUser">Crear</button>
                <button type="submit" class="btn btn-secondary" @click="$emit('cancel')">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import api from "@/api/api";

export default {
    name: "CreateUser",
    data() {
        return {
            // creation data
            createdUser: {
                username: null,
                first_name: null,
                last_name: null,
                password: null,
                email: null,
                is_staff: false,
            },
        }
    },
    methods: {
        createUser() {
            api.createUser(this.createdUser)
                .then(() => {
                    this.createdUser = null;
                    this.isAdding = false;
                    this.$emit('create');
                });
        },
    },
}
</script>

<style scoped>

</style>