<template>
    <div>
        <label for="username-create">{{ label }}</label>
        <input
            :value="value"
            @input="changed"
            type="email"
            class="form-control"
            id="username-create">
    </div>
</template>

<script>
export default {
    name: "TextField",
    props: {
        label: String,
        value: String,
    },
    methods: {
        changed(event) {
            this.$emit('input', event.target.value)
        }
    },
}
</script>

<style scoped>

</style>