<template>
  <div>
    <h1>Formulario para añadir nuevo cliente:</h1>

    <p v-show="errorMsg">***Tienes campos vacíos***</p>
    <p>
      <input type="text" v-model="nombre" placeholder="nombre" />
    </p>

    <p>
      <input type="text" v-model="apellido" placeholder="apellido" />
    </p>

    <p>
      <input type="text" v-model="ciudad" placeholder="ciudad" />
    </p>

    <p>
      <input type="text" v-model="empresa" placeholder="empresa" />
    </p>

    <p>
      <button @click="validatingData()">Añadir cliente</button>
    </p>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "AddClients",
  data() {
    return {
      nombre: "",
      apellido: "",
      ciudad: "",
      empresa: "",
      createClient: false,
      errorMsg: false,
    };
  },
  methods: {
    sweetalertNewClient() {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "El cliente se creo correctamente",
        showConfirmButton: false,
        timer: 2000,
      });
    },
    validatingData() {
      if (
        this.nombre === "" ||
        this.apellido === "" ||
        this.ciudad === "" ||
        this.empresa === ""
      ) {
        // alert("No puedes dejar campos vacíos");
        this.errorMsg = true;
        this.createClient = false;
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "¡¡¡No puedes dejar campos vacíos!!!",
        });
      } else {
        this.errorMsg = false;
        this.createClient = true;
        this.addNewClient();
        this.sweetalertNewClient();
      }
    },
    addNewClient() {
      if (this.createClient === true) {
        var self = this;
        axios
          .post("http://localhost:3050/add", {
            nombre: self.nombre,
            apellido: self.apellido,
            ciudad: self.ciudad,
            empresa: self.empresa,
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
        this.createClient = false;
        this.nombre = "";
        this.apellido = "";
        this.ciudad = "";
        this.empresa = "";
      } else {
        console.log("Algo va mal");
      }
    },
  },
};
</script>
<style scoped>
input {
  font-size: 1.25rem;
  padding: 0.75rem;
}

button {
  font-size: 1.25rem;
  padding: 1rem 5.3rem;
}
</style>

