<template>
  <div>
    <vue-headful title="Horror!!! | Error" />
    <h1>Tas perdio. Buff. La ruta va a ser que no existe.</h1>
  </div>
</template>

<script>
export default {
  name: "Error",
};
</script>

<style scoped></style>
