<template>
  <div class="home">
    <vue-headful title="Home" />
    <homecomponent
      v-on:datos="mostrarInfoCliente"
      v-on:borrar="borrardoCliente"
      :clientes="clientes"
    />

    <!--Actualizar cliente-->
    <div v-show="seeModal" class="modal">
      <div class="modalBox">
        <h3>Actualiza los datos de tu cliente:</h3>
        <p>ID del cliente: {{idCliente}}</p>
        <p>
          <input type="text" placeholder="Nombre del cliente" v-model="nombreActualizado" />
        </p>
        <p>
          <input type="text" placeholder="Apellidos del cliente" v-model="apellidoActualizado" />
        </p>
        <p>
          <input type="text" placeholder="Ciudad del cliente" v-model="ciudadActualizado" />
        </p>
        <p>
          <input type="text" placeholder="Empresa del cliente" v-model="empresaActualizado" />
        </p>
        <p>
          <button @click="seeModal =! seeModal">Cancelar</button>
        </p>
        <p>
          <button @click="actualizarCliente()">Actualizar cliente</button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import homecomponent from "@/components/HomeComponent.vue";
import Swal from "sweetalert2";

export default {
  name: "Home",
  components: {
    homecomponent,
  },
  data() {
    return {
      clientes: [],
      idCliente: "",
      nombreActualizado: "",
      apellidoActualizado: "",
      ciudadActualizado: "",
      empresaActualizado: "",
      seeModal: false,
    };
  },
  methods: {
    borrardoCliente(indiceCliente) {
      var self = this;
      axios
        .delete("http://localhost:3050/delete/" + indiceCliente)
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
      Swal.fire({
        position: "center",
        icon: "success",
        title: "El cliente ha sido eliminado correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },
    actualizarCliente() {
      var self = this;
      axios
        .put("http://localhost:3050/update/" + self.idCliente, {
          nombre: self.nombreActualizado,
          apellido: self.apellidoActualizado,
          ciudad: self.ciudadActualizado,
          empresa: self.empresaActualizado,
        })
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
      Swal.fire({
        position: "center",
        icon: "success",
        title: "El cliente ha sido actualizado correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },
    mostrarInfoCliente(datosCliente) {
      this.nombreActualizado = datosCliente.nombre;
      this.apellidoActualizado = datosCliente.apellido;
      this.ciudadActualizado = datosCliente.ciudad;
      this.empresaActualizado = datosCliente.empresa;
      this.idCliente = datosCliente.id;

      this.seeModal = true;
    },
    getClients() {
      var self = this;

      axios
        .get("http://localhost:3050/clientes")
        .then(function (response) {
          self.clientes = response.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  created() {
    this.getClients();
  },
};
</script>

<style scoped>
input {
  font-size: 1.25rem;
  width: 300px;
  height: 25px;
}

button {
  font-size: 1.25rem;
  padding: 1rem 4.4rem;
  width: 300px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modalBox {
  background-color: seashell;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #666;
}
</style>
