<template>
  <div>
    <h1>Login</h1>
    <p>
      <input v-model="user" type="text" placeholder="escribe tu usuario" />
    </p>
    <p>
      <input v-model="password" type="password" placeholder="escribe tu password" />
    </p>

    <p>
      <button @click="loginUser()">Haz click aquí para entrar</button>
    </p>
  </div>
</template>

<script>
import { login } from "../api/utils";

export default {
  name: "LoginPage",
  data() {
    return {
      user: "",
      password: "",
    };
  },
  methods: {
    loginUser() {
      if (this.user === "" || this.password === "") {
        alert("Faltan datos.");
      } else {
        login(this.user, this.password);
      }
      setTimeout(() => {
        this.$router.push("/home");
        location.reload();
      }, 1000);
    },
  },
};
</script>

<style scoped>
input {
  font-size: 1.25rem;
  padding: 0.75rem;
}

button {
  font-size: 1.25rem;
  padding: 1rem 2rem;
}
</style>

