<template>
  <div>
    <h1>Registro</h1>
    <p>
      <input type="email" placeholder="escribe tu dirección de correo" />
    </p>
    <p>
      <input type="password" placeholder="escribe tu password" />
    </p>
    <p>
      <input type="password" placeholder="repite tu password" />
    </p>
    <p>
      <button>Haz click para registrarte</button>
    </p>
  </div>
</template>

<script>
export default {
  name: "RegistredPage",
};
</script>

<style scoped>
input {
  font-size: 1.25rem;
  width: 300px;
}

button {
  font-size: 1.25rem;
  width: 300px;
}
</style>