<template>
  <div>
    <vue-headful title="HackAMusic | About" />
    <h1>Construcción web hackamusic con la API de Last.FM.</h1>

    <p>
      Yo. Oscar, estoy empezando ha aprender a utilizar Vue, he
      creado esta página con los conocimientos adquiridos en el BootCamp
      de Hack A Boss y para crear esta pequeña web, he requerido de las
      siguientes herramientas:
    </p>
    <p>Librería AXIOS. Para exportar los datos de la API de LastFM.</p>
    <p>Hemos empleado SweetAlert2. Para crear botones personalizado.</p>
    <p>Vue-Headfull. Para crear la meta del proyecto de esta página web.</p>
    <p>Y mucha paciencia de Desiré, para terminar haciendo esto que estas viendo.</p>
  </div>
</template>

<style scoped>
p {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
</style>
