<template>
  <div>
    <vue-headful title="Top list Artists | TopArtist" />
    <topartistcomp :artists="artists" />
    <button class="buttonSweet" @click="sweetalertOn">Contestame</button>
  </div>
</template>

<script>
import api from "@/api/index.js";
import topartistcomp from "@/components/TopArtistComp.vue";
import Swal from "sweetalert2";

export default {
  name: "TopArtist",
  components: {
    topartistcomp
  },
  data() {
    return {
      artists: []
    };
  },
  methods: {
    sweetalertOn() {
      Swal.mixin({
        input: "text",
        confirmButtonText: "Next &rarr;",
        showCancelButton: true,
        progressSteps: ["1", "2", "3"]
      })
        .queue([
          {
            title: "¿Que artista te gusta más?",
            text: 'Al decir "gustar", nos referimos a gusto musical.'
          },
          {
            title: "¿Que estilo te gusta más escuchar?",
            text: "Entendemos que no escogeras música clásica."
          },
          {
            title: "¿Que platafoma de música prefieres?",
            text: "Esta claro comoel agua, Last.FM. Pero tu dirás"
          }
        ])
        .then(result => {
          if (result.value) {
            const answers = JSON.stringify(result.value);
            Swal.fire({
              title: "¡Fantastico!",
              html: `
        Tus respuestas son:
        <pre><code>${answers}</code></pre>
      `,
              confirmButtonText: "Enviar"
            });
          }
        });
    }
  },
  created() {
    api
      .getArtists()
      .then(response => (this.artists = response.data.topartists.artist));
  }
};
</script>

<style>
</style>