<template>
  <div>
      <p>
          Desiré M Carmona, 2020-2021
      </p>
  </div>
</template>

<script>
    export default {
        name: 'FooterCustom'
    }
</script>

<style scoped>
    p {
        font-size: 0.400rem;
        margin: 2rem;
    }
</style>