<template>
  <div>
      <ul>
          <li v-for="(gatito, index) in gatitoObj" :key="gatito.id">
            <p>
                <b>Título</b>: {{ gatito.name }}
            </p>
            <p>
                <b>Fotógrafo/a</b>: 
                📸{{ gatito.fotografo }}
            </p>
            <p>
                <b>Fecha</b>:
                📅{{ gatito.fecha }}
            </p>
            <img :src="gatito.url" style="width:400px"
            title="Imagen de gatito" alt="Imagen de gatito">
            <br>
            <button @click="enviarTitulo(index)">
                Ver más info
            </button>
          </li>
      </ul>
  </div>
</template>

<script>
    export default {
        name: 'Gatitos',
        props: {
            gatitoObj: Array
        },
        methods: {
            enviarTitulo(index){
                // RECOGIENDO EL TÍTULO DE LA FOTO QUE HE 
                // CLICADO 👇
                let tituloFoto = this.gatitoObj[index].name
                // ENVIANDO EVENTO + LA VARIABLE DONDE GUARDÉ
                // EL TÍTULO DE LA FOTO QUE HE CLICADO 👇
                this.$emit('tituloDeLaFoto', tituloFoto)
            }
        }
    }
</script>

<style scoped>
  ul {
    list-style: none;
  }
  ul li {
    border: 2px solid green;
    margin: 1rem;
    border-radius: 10px;
  }
  ul li img {
    padding: 1rem;
  }
</style>