<template>
  <div>
    <!-- INTERPOLO MI VARIABLE 'TITULO' EN EL HTML
    DEL COMPONENTE. EL VALOR DE ESTA VARIABLE ME VIENE
    DE FUERA, DE LA VISTA. -->
    <p>
        {{titulo}}
    </p>
  </div>
</template>

<script>
    export default {
        name: 'SectionTitle',
        // LA PROP ES LA VARIABLE QUE EL COMPONENTE ESPERA 
        // RECIBIR, EN ESTE CASO ES TIPO "STRING" 
        // (EL TÍTULO DE LA PÁGINA, VAYA) :)
        props: {
            titulo: String
        }
    }
</script>

<style scoped>
    p {
        color: slateblue;
    }
</style>