<template>
  <div>
    <!-- 3. DECLARO MI COMPONENTE EN EL HTML -->
    <sectiontitle :titulo="tituloPagina"></sectiontitle>
    <!-- 4. ENLAZO LA PROP 'TITULO' 👆 CON MI 
    VARIABLE EN LA VISTA 'TITULOPAGINA' -->
    <h1>
      ¡Te doy la bienvenida al Miauimage! 🤗🐈
    </h1>
    <p>
      Imágenes de gatitos para curar tu depresión y ansiedad.
    </p>
    <hr>
    <h3>
      📌 Categoría: Gatitos Ambientales
    </h3>
    <gatitos v-on:tituloDeLaFoto="mostrarNombre" 
    :gatitoObj="gatitosAmbientales" />
    <!-- V-FOR CON EL ARRAY DE OBJETOS DE GATITOS
    AMBIENTALES 👇
    <ul>
      <li v-for="gatito in gatitosAmbientales" :key="gatito.id">
        <p>
          <b>Título</b>: {{ gatito.name }}
        </p>
        <p>
          <b>Fotógrafo/a</b>: 
          📸{{ gatito.fotografo }}
        </p>
        <p>
          <b>Fecha</b>:
          📅{{ gatito.fecha }}
        </p>
        <img :src="gatito.url" style="width:400px"
        title="Imagen de gatito" alt="Imagen de gatito">
      </li>
    </ul>
    -->
    <h3>
      📌 Categoría: Gatitos Que Miran
    </h3>
    <gatitos v-on:tituloDeLaFoto="mostrarNombre"
     :gatitoObj="gatitosQueMiran"/>
    <!-- V-FOR CON EL ARRAY DE OBJETOS DE GATITOS
    QUE MIRAN 👇
    <ul>
      <li v-for="gatito in gatitosQueMiran" :key="gatito.id">
        <p>
          <b>Título</b>: {{ gatito.name }}
        </p>
        <p>
          <b>Fotógrafo/a</b>: 
          📸{{ gatito.fotografo }}
        </p>
        <p>
          <b>Fecha</b>:
          📅{{ gatito.fecha }}
        </p>
        <img :src="gatito.url" style="width:400px"
        title="Imagen de gatito" alt="Imagen de gatito">
      </li>
    </ul>
    -->
  </div>
</template>

<script>
// 1. IMPORTO MI COMPONENTE DE TITULOS DE LAS PÁGINAS 👇
import sectiontitle from '@/components/SectionTitle.vue'
import gatitos from '@/components/Gatitos.vue'

export default {
  name: 'Home',
  components: {
    // 2. REGISTRO MI COMPONENTE
    sectiontitle, gatitos
  },
  data(){
    return {
      // VARIABLE DE MI TÍTULO DE ESTA VISTA
      tituloPagina: 'Home de la página',
      gatitosAmbientales: [
        { name: 'Gatito salvaje qué ricura', fotografo: 'Maria de la O', fecha: '24/07/2020',
        url: 'https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60'},
        { name: 'Gatitos en cesta', fotografo: 'Desiré M Carmona', fecha: '16/08/2020',
        url: 'https://images.unsplash.com/photo-1517331156700-3c241d2b4d83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60' },
        { name: 'Gatito super cuqui', fotografo: 'Xin Ya Zang', fecha: '07/07/2020',
        url: 'https://images.unsplash.com/photo-1567170578400-9d182981f2a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60' }
      ],
      gatitosQueMiran: [
        { name: 'Gatito que te mira fijamente', fotografo: 'Maria de la O', fecha: '24/07/2020',
        url: 'https://images.unsplash.com/photo-1561389881-a5d8d5549588?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60' },
        { name: 'Gatito que te mira bien', fotografo: 'Desiré M Carmona', fecha: '16/08/2020',
        url: 'https://images.unsplash.com/photo-1572590422971-7c7290362c63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60' },
        { name: 'Gatito que te mira feliz', fotografo: 'Xin Ya Zang', fecha: '07/07/2020',
        url: 'https://images.unsplash.com/photo-1542736143-29a8432162bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60' }
      ]
    }
  },
  methods: {
    mostrarNombre(tituloFoto){
      alert(tituloFoto)
    }
  }
}
</script>

<style scoped>
</style>