<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name: 'Registred'}">_Registro_</router-link>|
      <router-link :to="{name: 'Login'}">_Login_</router-link>|
      <router-link v-show="logged" :to="{name: 'Home' } ">_Lista Clientes_</router-link>|
      <router-link :to="{name: 'About'}">_About_</router-link>|
      <router-link v-show="logged" :to="{name: 'AddClients'}">_Crear Clientes_</router-link>|
      <p v-show="logged">Hola, {{username}} :-)</p>
      <button @click="logoutUser()">logout</button>
    </div>
    <router-view />
  </div>
</template>
<script>
import { logout } from "./api/utils";
import { getName } from "./api/utils";
import { isLoggedIn } from "./api/utils";

export default {
  data() {
    return {
      username: "",
      logged: false,
    };
  },
  methods: {
    setUserName() {
      this.username = getName();
    },
    logoutUser() {
      logout();
      this.$router.push("/");
      location.reload();
    },
    getLogin() {
      this.logged = isLoggedIn();
    },
  },
  created() {
    this.setUserName();
    this.getLogin();
  },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
