<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf8" />
    <title>Prueba Vue 1</title>
  </head>

  <body>
    <!--Div donde Vue se renderiza (fuera de aqui no funciona)-->
    <div id="app">
      <h2>Mi horario</h2>
      <p v-for="horario in schedule" :key="horario.id">
        Tengo clase el día{{horario.day }} a las {{horario.hour}} horas.
      </p>
    </div>
    <!-- Importamos Vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--El objeto de vue-->
    <script>
      const app = new Vue({
        el: "#app", //Indico donde Vue sse renderiza en el HTML
        data() {
          //en data se guardan las variables
          return {
            schedule: [
              { day: "lunes", hour: "17" },
              { day: "miércoles", hour: "17" },
              { day: "jueves", hour: "17" },
            ],
          };
        },
      });
    </script>
  </body>
</html>
