<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf8" />
    <title>Prueba clases dinamicas</title>
    <style>
      .red {
        color: red;
      }
      .green {
        color: yellowgreen;
      }
    </style>
  </head>

  <body>
    <!--Div donde Vue se renderiza (fuera de aqui no funciona)-->
    <div id="app">
      <ul>
        <li
          v-for="nota in notas"
          :key="nota.id"
          :class="{green: nota >= notaMinima, red: nota < notaMinima}"
        >
          {{nota}}
        </li>
      </ul>
    </div>
    <!-- Importamos Vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--El objeto de vue-->
    <script>
      const app = new Vue({
        el: "#app", //Indico donde Vue sse renderiza en el HTML
        data() {
          //en data se guardan las variables
          return {
            notaMinima: 5,
            notas: [2, 3, 7, 10],
          };
        },
      });
    </script>
  </body>
</html>
