<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf8" />
    <title>V-for</title>
  </head>

  <body>
    <!--Div donde Vue se renderiza (fuera de aqui no funciona)-->
    <div id="app">
      <!--directiva V-for sirve para recorrer arrays y objetos.-->
      <p v-for="(fruta, index) in frutas" :key="fruta.id">
        índice:{{index}} {{fruta}}
      </p>
    </div>
    <!-- Importamos Vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--El objeto de vue-->
    <script>
      const app = new Vue({
        el: "#app", //Indico donde Vue sse renderiza en el HTML
        //en data se guardan las variables
        data() {
          return {
            frutas: ["manzana", "pera", "platano"],
          };
        },
      });
    </script>
  </body>
</html>
