<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf8" />
    <title>metodos</title>
  </head>

  <body>
    <!--Div donde Vue se renderiza (fuera de aqui no funciona)-->
    <div id="app">
      <button @click="welcome()">
        Alert
      </button>
      <p>
        {{contador}}
      </p>
      <button @click="suma()">
        Suma
      </button>
      <button @click="resta()">
        Resta
      </button>
    </div>
    <!-- Importamos Vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--El objeto de vue-->
    <script>
      const app = new Vue({
        el: "#app", //Indico donde Vue sse renderiza en el HTML
        data() {
          //en data se guardan las variables
          return {
            contador: 0,
          };
        },
        methods: {
          //en data se guardan las funciones
          welcome() {
            alert("Holaa");
          },
          suma() {
            this.contador++;
          },
          resta() {
            this.contador--;
          },
        },
      });
    </script>
  </body>
</html>
