@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

/******************** * HTML y BODY ****************************/

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  min-height: 100%;
  --grey: #8f9ea5;
  --lightgrey: #dcebf1;
  --black: #121213;
  --white: #f9fafa;

  --font: Roboto, sans-serif;
}

body {
  color: var(--black);
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px;
  box-sizing: border-box;
}

/******************** Menú ****************************/

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

/********** class BUTTON *****************/

.button {
  background-color: var(--grey);
  font-size: 1.15rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 5px;
  box-shadow: 0 9px var(--dark);
}

.buttones {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 1rem;
  margin-left: 0.5rem;
  margin-top: 25px;
}
/************** Equipos *****************/

h1 {
  margin-bottom: 1rem;
}

ul#searchBy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  columns: 2;
  gap: 1rem;
  padding: 1rem;
}

ul#searchBy article {
  background-color: var(--lightgrey);
  padding: 1rem;
  border: solid 2px var(--black);
  border-radius: 10px;
}

ul#searchBy article div li {
  margin-bottom: 5px;
  font-size: 1.15rem;
}

ul#searchBy article div li img {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  border: solid 1px var(--black);
}

/*************** Jugadores ***************/

ul#searchBy article div li.img {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 1rem;
  margin-left: 1.75rem;
  margin-bottom: 20px;
}

/**** Nuevo equipo \ Nuevo jugador *********/

.table {
  display: block;
  columns: 2;
  font-size: 1.25rem;
  margin-top: 2.5rem;
}

.table li {
  margin-bottom: 10px;
}

.text {
  width: 400px;
}
.table li input {
  font-size: 1.25rem;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

ul.table li select#club {
  background-color: var(--white);
  width: 300px;
  font-size: 1.25rem;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bold;
}

ul.table p {
  margin-top: 25px;
}

ul.table li input#file:last-child {
  margin-bottom: 5px;
}

#player {
  margin-top: 15px;
}

/********** Modal Equipo *************/

ul#modal {
  columns: 2;
  margin-top: 0.85rem;
}

ul#modal article li select#club {
  background-color: var(--white);
  font-size: 1.15rem;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.modal1 {
  background: var(--white);
  position: fixed;
  top: 0rem;
  right: 0;
  bottom: 0;
  width: 100%;
}

.modalBox1 {
  font-size: 1rem;
  margin-top: 1rem;
}

.modalBox1 input {
  color: var(--green);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.modalBox1 li {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.modalBox1 li .button {
  width: 155px;
  margin-left: 3rem;
  margin-bottom: 10px;
}

ul#modal article li h1 {
  margin-top: 10px;
}

ul#modal article li input#file {
  margin-bottom: 20px;
}

/******** Buscador *************/

.search {
  font-size: 1.25rem;
  margin: 0 5px;
  text-align: center;
  font-weight: bold;
}

/********* Sobre mí ************/

.about {
  display: inline-block;
  width: 600px;
}

.about h1 {
  margin-top: 3rem;
}

.about p span {
  color: red;
}
