@font-face {
  font-family: "Clock";
  src: url("../fonts/clock.woff2"), url("../fonts/clock.woff");
}

* {
  margin: 0;
  padding: 0;
}

html {
  --color: #7d73dd;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color);
  font-family: Clock, sans-serif;
  min-height: 100vh;

  display: grid;
  place-content: center;
}

header {
  text-align: center;
  padding: 1rem 2rem;
  border: 0.5rem dotted var(--color);
}

header h1 {
  font-size: 5rem;
  font-weight: normal;
  padding: 3rem;
}

header h2 {
  font-weight: normal;
  padding: 1rem;
  padding-bottom: 3rem;
  

@media (min-width: 700px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 45px;
  }
}