<template>
  <div>
    <h1>Lista de productos</h1>
    <div class="colum">
      <ul>
        <li v-for="article in articles" :key="article.id">
          <img :src="article.imagen" />
          <p>Nombre: {{article.nombre}}</p>
          <p>Stock: {{article.stock}}</p>
          <p>Disponibilidad: {{article.disponibilidad}}</p>
          <p>
            <button @click="reserve()">Reservar</button>
            <button @click="buy()">Comprar</button>
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "ListArticlesComponent",
  props: {
    articles: Array,
  },
  methods: {
    reserve() {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "Tú artículo ha sido reservado",
        showConfirmButton: false,
        timer: 2000,
      });
    },
    buy() {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "!!!COMPRADO¡¡¡ Tú artículo ya esta en camino. :-)",
        showConfirmButton: false,
        timer: 2000,
      });
    },
  },
};
</script>

<style scoped>
img {
  width: 300px;
}

li {
  width: 25rem;
  height: 35rem;
}

button {
  background-color: mediumspringgreen;
  border-radius: 50px;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 4rem 1rem;
  width: 125px;
}
</style>
