* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  padding: 0.25rem 0.5rem;
}

div.error {
  background-color: red;
  color: white;
  padding: 1rem;
  display: flex;
}

div.error p {
  flex-grow: 1;
}

header.principal {
  background-color: lightgrey;
  padding: 2rem;
  text-align: center;
}

header.principal h1 {
  color: rebeccapurple;
}

figure.photo-image {
  position: relative;
}

figure.photo-image button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  outline: none;
}

/* Main */

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

div.waiting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: slategray;
  display: grid;
  place-content: center;
}

ul.photo-list {
  margin-top: 1rem;
}

li.photo {
  margin-bottom: 1rem;
}

section.photo-data {
  display: flex;
}

section.photo-data div.info {
  flex-grow: 1;
}

section.photo-data div.info h2 {
  color: rebeccapurple;
}

section.photo-data div.extra {
  text-align: right;
}

section.photo-data span.likes {
  cursor: pointer;
  display: block;
}

section.photo-data time {
  display: block;
  font-size: 0.75rem;
}

section.photo-upload form fieldset {
  border: 0;
  margin: 1rem 0;
}

section.photo-upload form p.help {
  font-size: 0.65rem;
  color: gray;
}

section.photo-upload form label {
  display: block;
  font-size: 0.75rem;
}

section.photo-upload form input,
section.photo-upload form textarea {
  width: 100%;
  padding: 0.5rem;
}

section.photo-upload form textarea {
  height: 5rem;
  font-family: sans-serif;
}

/* Footer */

footer.principal {
  background: gray;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 0.75rem;
}
