<template>
  <div>
    <vue-headful title="Top tracks Artists | TopTrack" />
    <toptrackcomp :isTracks="isTracks" />
    <button class="buttonSweet" @click="sweetalertOn">Más titulos</button>
  </div>
</template>

<script>
import api from "@/api/index.js";
import toptrackcomp from "@/components/TopTracksComp.vue";
import Swal from "sweetalert2";

export default {
  name: "TopTrack",
  components: {
    toptrackcomp
  },
  data() {
    return {
      isTracks: []
    };
  },
  methods: {
    sweetalertOn() {
      Swal.fire({
        title: "¿Buscas más titulos de canciones?",
        text: "Ooooooh, no hay más titulos disponibles en la lista.",
        icon: "error",
        confirmButtonText: "Last.FM is Very Cool"
      });
    }
  },
  created() {
    api
      .getTracks()
      .then(response => (this.isTracks = response.data.tracks.track));
  }
};
</script>

<style>
</style>
