<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf8">
        <title>Portal del/la profe</title>
        <style>
            * {
            font-family: "Avenir", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #2c3e50;
            margin-top: 30px;
            }

            input {
            padding: 0.367rem;
            margin: 0.8rem;
            border: none;
            border-bottom: 1px solid lightgray;
            border-top: 1px solid transparent;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            }

            input:hover {
            border: 1px solid lightgray;
            cursor: pointer;
            }

            .login button {
            padding: 0.5rem;
            border-radius: 15px;
            border: none;
            width: 100px;
            }

            .login button:hover {
            cursor: pointer;
            background: darkslategray;
            color: wheat;
            transition: 0.4s;
            }

            table {
            margin: auto;
            }

            table,
            td,
            tr,
            th {
            padding: 1rem;
            border: 1px solid lightgray;
            text-align: center;
            }

            .green {
            color: yellowgreen;
            }

            .red {
            color: brown;
            }

            footer {
            font-size: 0.667rem;
            padding: 2.2rem;
            }
        </style>
    </head>
    <body>

        <!-- Div donde Vue se renderiza 👇 (fuera de aquí no funciona) -->
        <div id="app">

            <h1>Portal del/la profe 👋</h1>

            <div class="login" v-show="loginBox">

                <h3>¿Tienes cuenta? 👇</h3>

                <!-- FORMULARIO DE LOGIN -->
                <label for="user">Usuario/a</label>
                <input v-model="username" type="text" name="user" placeholder="Tu nombre de usuario/a">
                
                <br>

                <label for="passw">Contraseña</label>
                <input type="password" placeholder="Tu contraseña">

                <br>
                <!-- BOTÓN DE LOGIN -->
                <button @click="loginBox =! loginBox, notasBox =! notasBox, welcome()">Entrar ➡</button>

            </div>

            <div class="notas" v-show="notasBox">

                <h2>¡Hola, {{username}}!</h2>

                <h3>· Notas del grupo 5A 😱</h3>
                <!-- TABLA DE ALUMNOS -->
                <table>
                    <thead>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Clase</th>
                    <th>Estado</th>
                    </thead>
                    <tbody>
                    <!-- BUCLE DE LOS ALUMNOS -->
                    <tr v-for="nota in notas" :key="nota.id">
                        <td>{{ nota.nombre }}</td>
                        <td>{{ nota.apellidos }}</td>
                        <td>{{ nota.clase }}</td>
                        <td
                        :class="{ green: nota.nota >= 5, red: nota.nota < 5 }"
                        >{{ nota.nota >= 5? 'Aprobado' : 'Suspendido' }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <footer>Desiré M Carmona, 2020</footer>

        </div>

        <!-- Importando Vuejs 👇 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- El objeto Vue 👇 -->
        <script>
            const app = new Vue ({
                el: '#app', // Indico dónde Vue se renderiza en el HTML
                data() { // En Data se guardan las variables 
                    return {
                        username: "",
                        loginBox: true,
                        notasBox: false,
                        notas: [
                            {
                            nombre: "Izquierdina",
                            apellidos: "Rodríguez Pérez",
                            clase: "5A",
                            nota: "6"
                            },
                            {
                            nombre: "Pisifláutica",
                            apellidos: "Martín Fernández",
                            clase: "5A",
                            nota: "10"
                            },
                            {
                            nombre: "Cosmopolito",
                            apellidos: "Pérez Feixuc",
                            clase: "5A",
                            nota: "3"
                            },
                            {
                            nombre: "Martyrion",
                            apellidos: "Juego de Tronos",
                            clase: "5A",
                            nota: "8"
                            }
                        ]
                    }
                },
                methods: {
                    welcome() {
                    alert("¡Bienvenido/a, " + this.username + " !");
                    }
                }
            })
        </script>

    </body>
</html>