* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  font-size: 0.75rem;
  font-family: Arial, sans-serif;
  margin: 0rem;
}

/*--------------Reloj---------------*/

header {
  color: rgb(255, 4, 4);
  margin: 1rem;
  margin-bottom: 0rem;
}

/*------------Fin reloj-------------*/

section.temp h1 {
  background-color: rgba(96, 172, 243, 0.4);
  margin: 1rem;
}

table {
  background: rgba(129, 179, 226, 0.5);

  border: 1px solid grey;
  margin: 1rem;
  font-size: 0.85rem;
}

table caption {
  background-color: bisque;
  color: rgb(0, 2, 128);
  border: 1px solid grey;
  font-size: 1.25rem;
}

td:not(:first-child) {
  border-bottom: 1px solid white;
  padding: 0.25rem;
  text-align: center;
}

td.high {
  background-color: rgba(246, 15, 7, 0.7);
}

td.medium {
  background-color: rgba(238, 188, 23, 0.7);
}

td.low {
  background-color: rgba(19, 236, 19, 0.7);
}

td.lower {
  background-color: rgba(7, 24, 175, 0.7);
}

@media (min-width: 450px) {
  html {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 2.5rem;
  }
}
