<template>
  <div>
    <ul>
      <li v-for="(nota, index) in notas" :key="nota.id">
        <p>ID: {{ nota.id }}</p>
        <p>Autor: {{ nota.autor }}</p>
        <p>Título: {{ nota.titulo }}</p>
        <p>Texto: {{ nota.texto }}</p>
        <button @click="enviarIndice(index)">Edita la nota</button>
        <button @click="borrarNotaIndice(index)">Borrar Nota</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TodaLasNotas",
  props: {
    notas: Array,
  },
  methods: {
    enviarIndice(index) {
      let datosNota = this.notas[index];
      console.log(datosNota);
      this.$emit("datos", datosNota);
    },
    borrarNotaIndice(index) {
      let indice = this.notas[index].id;

      this.$emit("borrar", indice);
    },
  },
};
</script>

<style scoped></style>
