<template>
  <div>
    <h1>Reseñas de los estilos más escuchados.</h1>
    <input class="button" type="search" v-model="search" placeholder="Busca por estilo de música" />
    <ul>
      <li v-for="arrtag in filtered" :key="arrtag.id">
        <h2>
          Estilo
          :{{arrtag.name}}
        </h2>
        <p>
          Reseñas
          : {{arrtag.taggings}}
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TopTagComp",

  props: {
    isTags: Array
  },
  data() {
    return {
      search: ""
    };
  },
  computed: {
    filtered() {
      if (!this.search) {
        return this.isTags;
      }
      return this.isTags.filter(arrtag =>
        arrtag.name.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  }
};
</script>

<style>
</style>