<template>
  <div>
    <h1>Las canciones más escuchadas en LastFm.</h1>
    <input class="button" type="search" v-model="search" placeholder="Busca tú artista o canción" />
    <ul>
      <li v-for="track in filtered" :key="track.id">
        <p>Artista : {{ track.artist.name }}</p>
        <p>Canción :{{ track.name }}</p>
        <p>Duración :{{ track.duration }}</p>
        <p>Oyentes :{{ track.listeners }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TopTracksComp",

  props: {
    isTracks: Array
  },
  data() {
    return {
      search: ""
    };
  },
  computed: {
    filtered() {
      if (!this.search) {
        return this.isTracks;
      }
      return this.isTracks.filter(
        track =>
          track.name.toLowerCase().includes(this.search.toLowerCase()) ||
          track.artist.name.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  }
};
</script>

<style></style>
