<template>
  <div>
    <input type="search" v-model="search" placeholder="Buscar por nombre" />
    <ul v-for="item in filtered" :key="item.id">
      <li>
        <img :src="item.image" />
      </li>
      <li>{{item.name}}</li>

      <li>{{item.status}}</li>

      <li>{{item.species}}</li>

      <li>{{item.gender}}</li>

      <li :class="{red : item.status === 'Dead', green : item.status === 'Alive'}">{{item.status}}</li>

      <li>{{item.origin.name}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "CharacterCard",

  props: {
    characters: Array
  },
  data() {
    return {
      search: ""
    };
  },
  computed: {
    filtered() {
      if (!this.search) {
        return this.characters;
      }
      return this.characters.filter(item =>
        item.name.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  }
};
</script>

<style scoped>
.red {
  color: red;
}
.green {
  color: yellowgreen;
}
</style>
