<template>
    <div>
        <h1 class="text-primary mb-5">Login</h1>
        <div class="row justify-content-center">
            <div class="form-group col-5">

                <label for="exampleInputEmail1">Nombre de usuario</label>
                <input v-model="username" type="email" class="form-control" id="exampleInputEmail1">

            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="form-group col-5">

                <label for="exampleInputPassword1">Password</label>
                <input
                    id="exampleInputPassword1"
                    v-model="password"
                    type="password"
                    class="form-control"
                    :class="{'is-invalid': isInvalid}"
                >
                <div class="invalid-feedback">
                    Password incorrecto
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">

            <button
                type="submit"
                class="btn btn-primary col-2"
                @click="doLogin"
            >
                Login
            </button>

        </div>
    </div>
</template>

<script>
import api from "@/api/api";

export default {
    name: "LoginView",
    data() {
        return {
            username: 'admin',
            password: 'admin',
            isInvalid: false,
        }
    },
    methods: {
        doLogin() {
            this.isInvalid = false;
            api.login(this.username, this.password)
                .then(data => {
                    this.$emit('login', data)
                })
                .catch(() => {
                    this.isInvalid = true;
                })
        }
    },

}
</script>

<style scoped>

</style>