<template>
  <div>
    <vue-headful title="Lista de usuarios" />
    <listuserscomponent :users="users" v-on:data="seeInfoUser" v-on:delete="deleteUser" />
    <div v-show="seeModal" class="modal">
      <div class="modalBox">
        <h3>Acualiza tus datos</h3>
        <p>Datos del usuario: {{idUser}}</p>
        <p>
          <input type="text" placeholder="Nombre " v-model="updateName" />

          <input type="text" placeholder="Nombre de usuario" v-model="updateUserName" />

          <input type="text" placeholder="contraseña" v-model="updatePassword" />

          <input type="email" placeholder="Correo" v-model="updateEmail" />

          <input type="url" placeholder="Ruta foto" v-model="updateFoto" />
        </p>
        <p>
          <button @click="canceleditSweetalert(), seeModal =! seeModal">Cancelar</button>

          <button @click="updateUser(), editUserSweetalert() ">Actualizar cliente</button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import listuserscomponent from "@/components/ListUsersComponent.vue";
import Swal from "sweetalert2";

export default {
  name: "ListUsers",
  components: {
    listuserscomponent,
  },
  data() {
    return {
      users: [],
      idUser: "",
      updateName: "",
      updateUserName: "",
      updatePassword: "",
      updateEmail: "",
      updateFoto: "",
      seeModal: false,
    };
  },
  methods: {
    canceleditSweetalert() {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "¡¡¡Has cancelado la edición de datos!!!",
      });
    },
    editUserSweetalert() {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "El cliente ha sido editado correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },
    deleteUser(indexIdUser) {
      var self = this;

      axios
        .delete("http://localhost:3050/deleteUser/" + indexIdUser)
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateUser() {
      var self = this;
      axios
        .put("http://localhost:3050/listUsers/" + self.idUser, {
          nombre: self.updateName,
          usuario: self.updateUserName,
          password: self.updatePassword,
          email: self.updateEmail,
          foto: self.updateFoto,
        })
        .then(function (response) {
          console.log(respoonse);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    seeInfoUser(userData) {
      this.idUser = userData.id;
      this.updateName = userData.nombre;
      this.updateUserName = userData.usuario;
      this.updatePassword = userData.password;
      this.updateEmail = userData.email;
      this.updateFoto = userData.foto;

      this.seeModal = true;
    },
    getusers() {
      var self = this;

      axios
        .get("http://localhost:3050/users")
        .then(function (response) {
          self.users = response.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  created() {
    this.getusers();
  },
};
</script>

<style scoped>
input {
  text-align: center;
  border-radius: 50px;
  font-size: 1.25rem;
  margin: 1rem;
  padding: 0.15rem;
  width: 125px;
  height: 25px;
}

button {
  background-color: mediumspringgreen;
  border-radius: 50px;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  width: 125px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modalBox {
  font-size: 1rem;
  background-color: seashell;
  margin: 2% auto;
  padding: 3rem;
  width: 30%;
  border: 1px solid #666;
}
</style>