@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --font: Montserrat, sans-serif;
  --action: rgb(56, 109, 201);
  --danger: rgb(201, 47, 47);
  --add: rgb(45, 129, 31);
  --dark: rgb(50, 50, 50);
  --bright: white;
  --medium: rgb(150, 150, 150);
}

body {
  font-family: var(--font);
  color: var(--dark);
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-weight: 900;
}

form#new-todo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 0.5rem;
  margin-bottom: 1rem;

  grid-template-areas:
    "input input input add"
    "clean clean delete delete";
}

form#new-todo button {
  font-family: var(--font);
  background-color: var(--action);
  color: var(--bright);
  border: none;
  padding: 0.35rem;
}

form#new-todo fieldset {
  border: 0;
  grid-area: input;
}

form#new-todo fieldset input {
  width: 100%;
  padding: 0.25rem;
  font-family: var(--font);
}

form#new-todo button.add {
  background-color: var(--add);
  grid-area: add;
  align-self: end;
}

form#new-todo button.clean {
  grid-area: clean;
}

form#new-todo button.delete {
  grid-area: delete;
  background-color: var(--danger);
}

form#new-todo label {
  display: block;
  font-weight: 700;
  font-size: 0.75rem;
}

/* TODO list */

ul#todos {
  list-style: none;
  border-top: 1px solid var(--medium);
  padding-top: 1rem;
}

ul#todos li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

ul#todos li input {
  margin-right: 0.5rem;
  margin-top: 2px;
}

ul#todos li.done p {
  text-decoration: line-through;
  color: var(--medium);
}
