<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name : 'Home'}">|_Home_</router-link>|
      <router-link :to="{name: 'About'}">_About_</router-link>|
      <router-link :to="{name: 'NewUser'}">_Registro de usuarios_</router-link>|
      <router-link :to="{name: 'NewArticle'}">_Registro de artículos_</router-link>|
      <router-link :to="{name: 'ListArticles'}">_Productos_</router-link>|
      <router-link :to="{name: 'ListUsers'}">_Clientes_</router-link>|
      <router-link :to="{name: 'EditArticle'}">Editar Artículos</router-link>|
    </div>
    <router-view />
    <footercomponent />
  </div>
</template>
<script>
import footercomponent from "@/components/FooterComponent.vue";

export default {
  name: "App",
  components: {
    footercomponent,
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: orange;
  width: 100%;
  min-height: 100vh;
}

.colum {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.25rem;
  margin-top: 0.45rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
li {
  background-color: pink;
  width: 300px;
  margin: 1rem 2rem;
  padding: 0.5rem;
}

.boton {
  background-color: cornflowerblue;
  border-radius: 50px;
  width: 150px;
  padding: 0.75rem;
  font-size: 1rem;
}

.foto {
  border: solid 1.5px black;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 1rem 0 0.5rem 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  background-color: rgb(179, 241, 238);
  font-weight: bold;
  color: red;
}

#nav a.router-link-exact-active {
  color: rebeccapurple;
}
</style>
