<template>
  <div>
    <h1>Cars</h1>
    <pictures :statues="cars" />
  </div>
</template>

<script>
import pictures from "@/components/Pictures.vue";
export default {
  name: "Cars",
  components: {
    pictures
  },
  data() {
    return {
      cars: [
        {
          nombre: "Seat Leon",
          url:
            "https://www.motor.es/fotos-noticias/2020/05/precio-seat-leon-2020-nuevos-motores-202067458-1589631210_1.jpg",
          designer: "Alejandro Mesonero-Romanos Luc Donckerwolke",
          photographer: "Arnold"
        },
        {
          nombre: "Golf 8",
          url:
            "https://cdn.autobild.es/sites/navi.axelspringer.es/public/media/image/2019/12/volkswagen-golf-8.jpg",
          designer: "Giorgetto Giugiaro",
          photographer: "Kyra"
        },
        {
          nombre: "Audi A3",
          url:
            "https://www.actualidadmotor.com/wp-content/uploads/2020/03/audi-a3-sportback-12.jpg",
          designer: "J Mays y Herbert Schäfer",
          photographer: "Eva"
        }
      ]
    };
  }
};
</script>

<style scoped>
</style>