<template>
  <div>
    Collection
    <pictures :statues="statues" v-on:seeAlert="nombreEstatua" />
  </div>
</template>

<script>
import pictures from "@/components/Pictures.vue";
export default {
  name: "Collection",
  components: {
    pictures
  },
  data() {
    return {
      statues: [
        {
          nombre: "Orenador con paisaje",
          url:
            "https://images.unsplash.com/photo-1593642532973-d31b6557fa68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80",
          designer: "Giugiaro",
          photographer: "Kara"
        },
        {
          nombre: "Cauce del rio con montañas nevadas.",
          url:
            "https://images.unsplash.com/photo-1594722553761-58b3be7b088d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80",
          designer: "Giorgetto",
          photographer: "Raquel"
        },
        {
          nombre: "Paisaje mantañas con nubes",
          url:
            "https://images.unsplash.com/photo-1594643551111-29af420564e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80",
          designer: "Rigobertto",
          photographer: "Giorgio"
        }
      ]
    };
  },
  methods: {
    nombreEstatua(index) {
      let statueName = this.statues[index].nombre;
      alert("Nombre: " + statueName);
    }
  }
};
</script>

<style scoped>
</style>