<template>
  <div>
    <h1>Lista de jugadores para editar.</h1>
    <p>
      <button class="button" @click="ishidden = !ishidden">
        Desplegar Buscador
      </button>
    </p>
    <div v-show="ishidden">
      <label class="search">Club :</label>
      <select class="search" name="searcherClub" v-model="criterio1" id="club">
        <option value selected></option>
        <option value="FC Barcelona">FC Barcelona</option>
        <option value="Real Madrid">Real Madrid</option>
        <option value="At Madrid">At Madrid</option>
        <option value="Real Betis Balompíe">Real Betis Balompíe</option>
        <option value="CF Villarreal">CF Villarreal</option>
        <option value="Real Sociedad">Real Sociedad</option>
        <option value="Sevilla CF">Sevilla CF</option>
        <option value="Getafe CF">Getafe CF</option>
        <option value="Valencia CF">Valencia CF</option>
        <option value="Cadíz CF">Cadíz CF</option>
        <option value="Granada CF">Granada CF</option>
        <option value="Osasuna CF">Osasuna CF</option>
        <option value="Real Celta de Vigo">Real Celta de Vigo</option>
        <option value="SD Eibar">SD Eibar</option>
        <option value="SD Huesca">SD Huesca</option>
        <option value="Elche CF">Elche CF</option>
        <option value="Deportivo Alavés">Deportivo Alavés</option>
        <option value="Levante UD">Levante UD</option>
        <option value="Ath. Bilbao">Ath. Bilbao</option>
        <option value="Real Valladolid">Real Valladolid</option>
      </select>

      <label class="search">Nombre :</label>
      <input
        class="search"
        type="search"
        v-model="search1"
        placeholder="Nombre jugador"
      />

      <label class="search">Apellidos :</label>
      <input
        class="search"
        type="search"
        v-model="search2"
        placeholder="Apellido Jugador"
      />

      <label class="search">Nacionalidad :</label>
      <input
        class="search"
        type="search"
        v-model="search3"
        placeholder="Nacionalidad"
      />

      <label class="search">Lugar de nacimiento :</label>
      <input
        class="search"
        type="search"
        v-model="search4"
        placeholder="Nombre localidad"
      />

      <label class="search">Número camiseta :</label>
      <input
        class="search"
        type="search"
        v-model="search5"
        placeholder="Dorsal"
      />

      <label class="search">Posición :</label>
      <select class="search" name="searcherClub" v-model="criterio2" id="club">
        <option value selected></option>
        <option value="Entrenador">Entrenador</option>
        <option value="Portero">Portero</option>
        <option value="Defensa">Defensa</option>
        <option value="Centocampista">Centrocampista</option>
        <option value="Delantero">Delantero</option>
      </select>
      <button class="button" @click="searchBy(), clearField()">Buscar</button>
    </div>

    <ul id="searchBy">
      <article v-for="(player, index) in players" :key="player.id">
        <div>
          <li class="img">
            <img :src="getImageName(player.image1)" />

            <a :href="getImageName(player.image1)"> </a>

            <img :src="getImageName(player.image2)" />

            <a :href="getImageName(player.image2)"> </a>
          </li>

          <li>Club: {{ player.club }}</li>
          <li>Nombre del jugador: {{ player.name }}</li>
          <li>Apellidos del jugador: {{ player.lastname }}</li>
          <li>Año de llegada al club: {{ player.start }}</li>
          <li>Lugar de nacimiento: {{ player.localityborn }}</li>
          <li>Fecha de nacimiento: {{ player.date_briday }}</li>
          <li>Nacionalidad: {{ player.nationality }}</li>
          <li>Número de la camiseta: {{ player.number }}</li>
          <li>Posición: {{ player.position }}</li>
          <li>Partidos jugados en el equipo: {{ player.numbermachclub }}</li>
          <li>Partidos con su selección: {{ player.numbermachcarrier }}</li>
          <li>Goles en el club : {{ player.goalsinclub }}</li>
          <li>Asistencias en el club: {{ player.asistenceteam }}</li>
          <li>Ligas: {{ player.league }}</li>
          <li>Copas del Rey: {{ player.cup }}</li>
          <li>Supercopas de España: {{ player.supercup }}</li>
          <li>
            Champions League:
            {{ player.championsleague }}
          </li>
          <li>Europa League (Copas UEFA): {{ player.europaligue }}</li>
          <li>Supercopas de Europa: {{ player.europasupercup }}</li>
          <li>Mundial Clubs: {{ player.mundialclub }}</li>
          <li>Eurocopa de Naciones : {{ player.eurocup }}</li>
          <li>Copa Liga de Naciones : {{ player.liguenations }}</li>
          <li>Copa América: {{ player.americacup }}</li>
          <li>Copa del Mundo : {{ player.mundial }}</li>
        </div>
        <li class="buttones">
          <button class="button" @click="sendDataPlayer(index)">
            Editar datos del jugador
          </button>

          <button class="button" @click="sendIndexPlayer(index)">
            Borrar jugador
          </button>
        </li>
      </article>
    </ul>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "EditPlayerComponent",
  props: {
    players: Array,
  },
  data() {
    return {
      criterio1: "",
      search1: "",
      search2: "",
      search3: "",
      search4: "",
      search5: "",
      criterio2: "",
      ishidden: false,
    };
  },
  methods: {
    clearField() {
      this.value = "";
      this.search1 = "";
      this.search2 = "";
      this.search3 = "";
      this.search4 = "";
      this.search5 = "";
    },
    searchBy() {
      let search = {
        option1: this.criterio1,
        value1: this.search1,
        value2: this.search2,
        value3: this.search3,
        value4: this.search4,
        value5: this.search5,
        option2: this.criterio2,
      };
      console.log(searchBy);
      this.$emit("getPlayers", search);
    },
    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },

    sendDataPlayer(index) {
      let dataPlayer = this.players[index];
      console.log(dataPlayer);
      this.$emit("data", dataPlayer);
    },

    sendIndexPlayer(index) {
      let indexPlayer = this.players[index].id;
      this.$emit("delete", indexPlayer);
    },
  },
};
</script>

<style scoped></style>