<template>
  <div>
    <div>
      <h1>Lista de equipos para editar.</h1>

      <p>
        <button class="button" @click="ishidden = !ishidden">
          Desplegar Buscador
        </button>
      </p>
      <div v-show="ishidden">
        <label class="search">Club :</label>
        <select class="search" name="searcherClub" v-model="criterio" id="club">
          <option disabled value></option>
          <option value="FC Barcelona">FC Barcelona</option>
          <option value="Real Madrid">Real Madrid</option>
          <option value="At Madrid">At Madrid</option>
          <option value="Real Betis Balompíe">Real Betis Balompíe</option>
          <option value="CF Villarreal">CF Villarreal</option>
          <option value="Real Sociedad">Real Sociedad</option>
          <option value="Sevilla CF">Sevilla CF</option>
          <option value="Getafe CF">Getafe CF</option>
          <option value="Valencia CF">Valencia CF</option>
          <option value="Cadíz CF">Cadíz CF</option>
          <option value="Granada CF">Granada CF</option>
          <option value="Osasuna CF">Osasuna CF</option>
          <option value="Real Celta de Vigo">Real Celta de Vigo</option>
          <option value="SD Eibar">SD Eibar</option>
          <option value="SD Huesca">SD Huesca</option>
          <option value="Elche CF">Elche CF</option>
          <option value="Deportivo Alavés">Deportivo Alavés</option>
          <option value="Levante UD">Levante UD</option>
          <option value="Ath. Bilbao">Ath. Bilbao</option>
          <option value="Real Valladolid">Real Valladolid</option>
        </select>

        <label class="search">Nombre estadio :</label>
        <input
          class="search"
          type="search"
          v-model="searchCamp"
          placeholder="Nombre Estadio"
        />

        <button class="button" @click="searchBy(), clearField()">Buscar</button>
      </div>
    </div>

    <ul id="searchBy">
      <article v-for="(team, index) in teams" :key="team.id">
        <div>
          <section class="image">
            <li id="img">
              <img :src="getImageName(team.image1)" />

              <a :href="getImageName(team.image1)"> </a>
            </li>
          </section>
          <li>Nombre de la cometición: {{ team.namecompetition }}</li>
          <li>club: {{ team.club }}</li>
          <li>Año fundación: {{ team.yearfundation }}</li>
          <li>Años en la liga: {{ team.yearsinleague }}</li>
          <section class="image">
            <li id="img">
              <img :src="getImageName(team.image2)" />

              <a :href="getImageName(team.image2)"> </a>
            </li>
          </section>
          <li>Nombre del estadio: {{ team.namestadio }}</li>
          <li>Año inaguración estadio: {{ team.yearinaguratestadio }}</li>
          <li>Dirección web: {{ team.address }}</li>
          <li>Ligas: {{ team.league }}</li>
          <li>Copas del Rey: {{ team.cup }}</li>
          <li>Supercopas de España: {{ team.supercup }}</li>
          <li>Champions League: {{ team.championsleague }}</li>
          <li>Europa League (Copas UEFA): {{ team.europaligue }}</li>
          <li>Supercopas de Europa: {{ team.europasupercup }}</li>
          <li>Recopas de Europa: {{ team.recup }}</li>
          <li>Mundial Clubs: {{ team.mundialclub }}</li>
        </div>
        <li class="buttones">
          <button class="button" @click="sendDataTeam(index)">
            Editar datos del Club
          </button>

          <button class="button" @click="sendIndexTeam(index)">
            Borrar Club
          </button>
        </li>
      </article>
    </ul>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "EditTeamComponent",
  props: {
    teams: Array,
  },
  data() {
    return {
      criterio: "",
      searchCamp: "",
      ishidden: false,
    };
  },
  methods: {
    clearField() {
      this.value = "";
      this.searchCamp = "";
    },
    searchBy() {
      let search = {
        option: this.criterio,
        value: this.searchCamp,
      };
      console.log(searchBy);
      this.$emit("getTeams", search);
    },
    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },

    sendDataTeam(index) {
      let dataTeam = this.teams[index];
      console.log(dataTeam);
      this.$emit("data", dataTeam);
    },

    sendIndexTeam(index) {
      let indexTeam = this.teams[index].id;
      this.$emit("delete", indexTeam);
    },
  },
};
</script>

<style scoped></style>