<template>
  <div class="team">
    <h1>Listado de equipos.</h1>

    <p>
      <button class="button" @click="ishidden = !ishidden">
        Desplegar Buscador
      </button>
    </p>
    <div v-show="ishidden">
      <label class="search">Club :</label>
      <select class="search" name="searcherClub" v-model="criterio" id="club">
        <option value selected></option>
        <option value="FC Barcelona">FC Barcelona</option>
        <option value="Real Madrid">Real Madrid</option>
        <option value="At Madrid">At Madrid</option>
        <option value="Real Betis Balompíe">Real Betis Balompíe</option>
        <option value="CF Villarreal">CF Villarreal</option>
        <option value="Real Sociedad">Real Sociedad</option>
        <option value="Sevilla CF">Sevilla CF</option>
        <option value="Getafe CF">Getafe CF</option>
        <option value="Valencia CF">Valencia CF</option>
        <option value="Cadíz CF">Cadíz CF</option>
        <option value="Granada CF">Granada CF</option>
        <option value="Osasuna CF">Osasuna CF</option>
        <option value="Real Celta de Vigo">Real Celta de Vigo</option>
        <option value="SD Eibar">SD Eibar</option>
        <option value="SD Huesca">SD Huesca</option>
        <option value="Elche CF">Elche CF</option>
        <option value="Deportivo Alavés">Deportivo Alavés</option>
        <option value="Levante UD">Levante UD</option>
        <option value="Ath. Bilbao">Ath. Bilbao</option>
        <option value="Real Valladolid">Real Valladolid</option>
      </select>

      <label class="search">Nombre estadio :</label>
      <input
        class="search"
        type="search"
        v-model="searchCamp"
        placeholder="Nombre Estadio"
      />

      <button class="button" @click="searchBy(), clearField()">Buscar</button>
    </div>
    <div>
      <ul id="searchBy">
        <article v-for="team in teams" :key="team.id">
          <div>
            <li>
              <img :src="getImageName(team.image1)" />
            </li>
            <li>Nombre de la liga: {{ team.namecompetition }}</li>
            <li>Club: {{ team.club }}</li>
            <li>Año fundación: {{ team.yearfundation }}</li>
            <li>Años en la Liga: {{ team.yearsinleague }}</li>
            <li>
              <img :src="getImageName(team.image2)" />
            </li>
            <li>Nombre del estadio: {{ team.namestadio }}</li>
            <li>Año inaguración estadio: {{ team.yearinaguratestadio }}</li>
            <li>Dirección web: {{ team.address }}</li>
            <li>Ligas: {{ team.league }}</li>
            <li>Copas del Rey: {{ team.cup }}</li>
            <li>Supercopas de España: {{ team.supercup }}</li>
            <li>Champions League: {{ team.championsleague }}</li>
            <li>Europa League (Copa Uefa): {{ team.europaligue }}</li>
            <li>Supercopas de Europa: {{ team.europasupercup }}</li>
            <li>Recopas de Europa: {{ team.recup }}</li>
            <li>Mundial de Clubes: {{ team.mundialclub }}</li>
          </div>
        </article>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListTeamComponent",

  props: {
    teams: Array,
  },
  data() {
    return {
      criterio: "",
      searchCamp: "",
      ishidden: false,
    };
  },

  methods: {
    clearField() {
      this.value = "";
      this.searchCamp = "";
    },
    searchBy() {
      let search = {
        option: this.criterio,
        value: this.searchCamp,
      };
      console.log(searchBy);
      this.$emit("listTeam", search);
    },

    getImageName(name) {
      return process.env.VUE_APP_STATIC + name;
    },
  },
};
</script>

<style scoped></style>
