* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.25rem;
  font-family: Arial, sans-serif;
}

section.tem {
  align-items: center;
}
table {
  background: lightgrey;
  border: 1px solid grey;
}

table caption {
  color: rgb(0, 2, 128);
  border: 1px solid grey;
}

td:not(:first-child) {
  border-bottom: 1px solid white;
  padding: 0.25rem;
  text-align: center;
}

td.high {
  background-color: red;
}

td.medium {
  background-color: orange;
}

td.low {
  background-color: green;
}

td.lower {
  background-color: blue;
}

@media (min-width: 550px) {
  html {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 3rem;
  }
}
