<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf8" />
    <title>V-IF</title>
  </head>

  <body>
    <!--Div donde Vue se renderiza (fuera de aqui no funciona)-->
    <div id="app">
      <!--directiva V-IF muestra u oculta algo dependiendo  del valor de una variable.-->
      <h1 v-if="ver">
        Hola, directiva v-if
      </h1>
    </div>
    <!-- Importamos Vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--El objeto de vue-->
    <script>
      const app = new Vue({
        el: "#app", //Indico donde Vue sse renderiza en el HTML
        //en data se guardan las variables
        data() {
          return {
            //variable que controla el v-if
            ver: true,
          };
        },
      });
    </script>
  </body>
</html>
