<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf8" />
    <title>V-MODEL</title>
  </head>

  <body>
    <div id="app">
      <!--directiva V-model enlaza el valor de un elemento html con el de una variable.-->
      <h1>
        !Bienvenido¡ {{username}}
      </h1>
      <input v-model="username" />
    </div>
    <!-- Importamos Vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--El objeto de vue-->
    <script>
      const app = new Vue({
        el: "#app", //Indico donde Vue sse renderiza en el HTML
        //en data se guardan las variables
        data() {
          return {
            //variable que controla el v-model
            username: "",
          };
        },
      });
    </script>
  </body>
</html>
