<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf8" />
    <title>Prueba Vue 1</title>
  </head>

  <body>
    <!--Div donde Vue se renderiza (fuera de aqui no funciona)-->
    <div id="app">
      <p>
        Hola, me llamo {{nombre}}.
      </p>
      <p>
        Tengo {{edad}} años.
      </p>
      <p>
        {{ciudad}}
      </p>
      <p>
        {{bio}}, mi comida faborita son
      </p>
      <p>
        {{comida}}
      </p>

      <!--Expresion numerica-->
      {{2+2+2}}

      <!--Expresiones de texto-->

      {{'Oscar' + 'Balsa' }} {{'Oscar' + ' ' + 'Balsa'}}

      <!--Expresiones con operaciones simples-->
      {{'oscar'.toUpperCase()}}
      <br />
      {{'OSCAR'.toLowerCase()}}
      <!--Expresion ternaria-->
      <br />
      {{butaca ? 'Butaca vacía' : 'Butaca ocupada'}}
    </div>
    <!-- Importamos Vuejs-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--El objeto de vue-->
    <script>
      const app = new Vue({
        el: "#app", //Indico donde Vue sse renderiza en el HTML
        data() {
          //en data se guardan las variables
          return {
            nombre: "OScar",
            edad: "15",
            ciudad: " nací en Barcelona",
            bio: "empezamos bien",
            comida: "fresas con nata.",
            butaca: false,
          };
        },
      });
    </script>
  </body>
</html>
