@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&family=Roboto:wght@300;700&display=swap");

html {
  --grey: #9c9494;
  --white: #ffffff;
  --black: #222222;

  --title-font: "Pragati Narrow", sans-serif;
  --font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 30vh;
  object-fit: fill;
  margin: 0 0 1rem 0;
}

/* body */

body {
  width: 80%;
  background-image: url("../img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--black);
  font-family: var(--font);
  min-height: 80vh;
  margin-left: 10%;
}

/* header*/

body > main > header {
  background-color: var(--black);
  text-align: center;
  padding: 2rem;
}

body > main > header h1 {
  color: var(--white);
  font-weight: 900;
  font-family: var(--title-font);
  text-decoration: underline;
}

body > main > header p {
  color: var(--white);
  font-weight: 300;
  font-family: var(--font);
}

body > main > header a {
  background-color: var(--grey);
  color: var(--black);
  font-family: var(--font);
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  padding: 0.25rem 2.25rem;
  margin: 1rem 0 1rem 0rem;
}

body > main > header strong {
  display: block;
}

/* section content del body */

section#content {
  background-color: var(--white);
  padding: 1rem;
}

section#content > p:nth-child(2) {
  margin-top: 2rem;
}

/* parrafo debajo cabezera*/

p.greylinghtletter {
  color: var(--grey);
  font-family: var(--font);
  text-align: center;
  font-weight: 900;
  margin: 2rem 0;
}

/* div cuadro premio */

body > main > section > div {
  background-color: var(--grey);
  text-align: center;
  text-decoration: underline;
  padding: 0.25rem;
}

/* pie páguina footer */

footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 2rem;
}

/* media query 545 */

@media (min-width: 545px) {
  /* section content del body */
  section#content > p:not(.greylinghtletter) {
    columns: 2;
  }
}

/* media query 800 */

@media (min-width: 800px) {
  /* cambiamos tamaño texto web */
  html {
    font-size: 24px;
  }
  /* Cambiamos cuadro div */
  body > main > section > div {
    background-color: var(--grey);
    position: absolute;
    right: 10%;
    top: 3rem;
    width: 4rem;
    text-align: center;
    font-size: 0.35rem;
    text-decoration: underline;
    padding: 0.5rem;
    transition-timing-function: ease-out;
  }
  body > main > section > div.transform:hover {
    background-size: 10px 10px;
    font-size: 0.75rem;
  }
}

/* media query 1100 */

@media (min-width: 1100px) {
  /* cambiamos tamaño texto web */
  html {
    font-size: 33px;
  }
}
