<template>
    <div id="app" class="container">

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="@/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                    Corrufour
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" :class="{'active': $route.name === 'products'}">
                            <router-link :to="{name: 'products'}" class="nav-link">Productos</router-link>
                        </li>

                        <li class="nav-item" :class="{'active': $route.name === 'cart'}">
                            <router-link :to="{name: 'cart'}" class="nav-link">Carrito</router-link>
                        </li>

                        <li v-if="isStaff" class="nav-item" :class="{'active': $route.name === 'users'}">
                            <router-link :to="{name: 'users'}" class="nav-link">Users</router-link>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <span v-if="user !== null" class="navbar-text">{{ user.username }} | </span>

                        <li v-if="isAuthenticated">
                            <a href="#" class="nav-link" @click="doLogout" >Logout</a>
                        </li>
                        <li v-else class="nav-item navbar-right">
                            <router-link
                                :to="{name: 'login'}"
                                class="nav-link"
                            >
                                Login
                            </router-link>
                        </li>
                    </ul>
                </div>
            </nav>

            <router-view
                class="mt-3"
                :is-staff="isStaff"
                @login="doLogin"
            />

        </div>
    </div>
</template>

<script>
import api from "@/api/api";
import store from "@/store/store";

const TOKEN_KEY = 'token';

export default {
    name: 'App',
    components: {
    },
    data() {
        return {
            token: "",
            refresh: "",
            sharedStore: store.state,
        }
    },
    computed: {
        user() {
            return this.sharedStore.user;
        },
        isAuthenticated() {
            return this.token !== "";
        },
        isStaff() {
            return store.isStaff();
        },
    },
    created() {
        let token = localStorage.getItem(TOKEN_KEY);
        if (token !== null) {
            this.token = token;
            api.setToken(this.token);
            this.getUser();
        }
    },
    methods: {
        doLogin(data) {
            this.token = data.access;
            this.refresh = data.refresh;
            localStorage.setItem(TOKEN_KEY, this.token)
            this.getUser()
                .then(() => {
                    this.$router.push({name: 'products'})
                })
        },
        doLogout() {
            this.token = "";
            this.refresh = "";
            localStorage.removeItem(TOKEN_KEY);
            store.deleteUser();
            api.logout();
        },
        async getUser() {
            return api.getOwnUser()
                .then(user => {
                    store.storeUser(user);
                });
        },
        async asyncGetUser() {
            let user = await api.getOwnUser();
            store.storeUser(user);
        }
    },
}
</script>

<style>
@import "css/estilos.css";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

</style>