@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

html {
  --yelow: #ebc857;
  --black: #222222;
  --white: #ffffff;
  --button: #1add45;

  --font: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font);
}

body > header,
body > main {
  max-width: 1000px;
  margin: 0 auto;
}

/* titulos */

.title {
  font-weight: 900;
  color: var(--white);
}

.titleinv {
  color: var(--yelow);
}

.tittle1 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

/*boton header */

.botoncoches {
  background-color: var(--button);
  color: var(--white);
  font-size: 2rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 0;
}

/* Header */

body > header {
  padding: 1rem;
  background-image: url("../img/mc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > header nav {
  flex-grow: 1;
}

body > header nav ul {
  list-style: none;
  display: block;
}

body > header nav ul li {
  margin: 0 0.5rem;
}

body > header nav ul li a {
  color: var(--button);
  text-decoration: none;
  font-size: 2.5rem;
  padding: 1rem;
}

/* Main sections */

main > section {
  padding: 2rem 1rem;
  background-color: var(--yelow);
}

main > section > h1 {
  font-size: 3rem;
  color: var(--white);
  margin-bottom: 1.5rem;
  margin-left: 2.5rem;
}

main > section > p {
  margin: 2rem;
}

/*  list */

section#articles ul li {
  margin-bottom: 1rem;
}

section#articles ul li article figure img {
  height: 20rem;
  width: 100%;
  display: block;
  object-fit: cover;
}

section#articles ul li article {
  background-color: var(--black);
  margin: 2rem 2rem 3rem 2rem;
  color: var(--white);
}

section#articles ul li article h1 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

section#articles ul li article a {
  background-color: var(--button);
  display: block;
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  color: var(--black);
  text-decoration: none;
}

section#articles ul li article p {
  margin: 0 2rem 0 2rem;
  padding: 1rem;
}

/* Form */

section#formularios {
  background-color: var(--white);
  margin-bottom: 5rem;
}

section#formularios form fieldset {
  border: 0;
  margin-bottom: 0.5rem;
}

section#formularios form fieldset label {
  display: flex;
  font-size: 3rem;
  margin-bottom: 0.75rem;
}

section#formularios form input,
section#formularios form textarea,
section#formularios form select {
  width: 100%;
  font-size: 2.5rem;
  border: 4px solid var(--black);
  padding: 0.25rem;
  background-color: var(--yelow);
  color: var(--black);
}

section#formularios form textarea {
  min-height: 5rem;
}

/* Media query */

@media (min-width: 750px) {
  html {
    font-size: 20px;
  }

  .title {
    font-size: 1.5rem;
  }

  body > header {
    min-height: 25rem;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  body > header nav {
    flex-grow: 0;
    order: -1;
  }

  body > main > section > p {
    columns: 2;
  }

  section#article ul {
    display: flex;
  }

  section#article ul li:nth-child(2) {
    margin: 0 1rem;
  }

  section#article ul li article figure img {
    height: 18rem;
  }

  section#formularios form {
    display: flex;
    flex-wrap: wrap;
  }

  section#formularios form input,
  section#formularios form textarea,
  section#formularios form select {
    padding: 0.5rem;
  }

  section#formularios fieldset {
    width: 50%;
    padding: 0.5rem;
  }

  section#formularios fieldset.wide {
    width: 100%;
  }

  section#formularios button {
    margin: 0 0.5rem;
  }
}
