<template>
  <div>
    <h1>Listado de clientes</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Ciudad</th>
          <th>Empresa</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(cliente, index) in clientes" :key="cliente.id">
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.ciudad}}</td>
          <td>{{cliente.empresa}}</td>
          <td>
            <button @click="enviarDatosCliente(index)">Editar Cliente</button>
          </td>
          <td>
            <button @click="enviarIndiceCliente(index)">Borrar Cliente</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "HomeComonent",
  props: {
    clientes: Array,
  },
  methods: {
    enviarDatosCliente(index) {
      let datosCliente = this.clientes[index];
      this.$emit("datos", datosCliente);
    },
    enviarIndiceCliente(index) {
      let indiceCliente = this.clientes[index].id;
      this.$emit("borrar", indiceCliente);
    },
  },
};
</script>

<style scoped>
h1 {
  font-size: 3.5rem;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: black 1px solid;
}
th,
td {
  border: black 1px solid;
  font-size: 1.5rem;
  padding: 1rem;
}
</style>

