<template>
  <div>
    <h1>Lista de usuarios</h1>
    <div class="colum">
      <ul>
        <li v-for="(user, index) in users" :key="user.id">
          <img class="foto" :src="user.foto" title="cara" alt="cara" />
          <p>{{user.nombre}}</p>
          <p>{{user.usuario}}</p>
          <p>{{user.email}}</p>
          <p>
            <button class="boton" @click="sendUserData(index)">Editar Usuario</button>
          </p>
          <p>
            <button
              class="boton"
              @click="sendIndexIdUser(index), deleteUserSweetalert()"
            >Eliminar Usuario</button>
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "ListUsersComponent",
  props: {
    users: Array,
  },
  methods: {
    deleteUserSweetalert() {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "El cliente ha sido eliminado correctamente",
        showConfirmButton: false,
        timer: 2000,
        onClose: () => {
          location.reload();
        },
      });
    },
    sendUserData(index) {
      let userData = this.users[index];
      console.log(userData);
      this.$emit("data", userData);
    },
    sendIndexIdUser(index) {
      let indexIdUser = this.users[index].id;
      this.$emit("delete", indexIdUser);
    },
  },
};
</script>

<style scoped>
</style>
